Repository devicons/devicon, pull requests merged in 2020-12, with the labels that each got.

#374 fix github font version and add alias (solves #373)
  devicon.json
Labels: bug, enhancement

#372 fix build process
  .github/workflows/build_icons.yml
Labels: bug, enhancement

#398 Add the public-upload-to-imgur action
  .github/workflows/build_icons.yml
  .github/workflows/peek_icons.yml
Labels: bot:peek

#406 Bug fix: ISSUE_TEMPLATE icon-request
  .github/ISSUE_TEMPLATE/icon-request.md
Labels: bug, enhancement

#401 fix gh-page in master branch / enhance auto-versioning
  devicon.min.css
  docs/assets/js/script.js
  docs/index.html
  gulpfile.js
Labels: bug, enhancement

#412 Make the peek script (bot:peek) take screenshot of individual files
  .github/scripts/build_assets/SeleniumRunner.py
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/build_assets/filehandler.py
  .github/scripts/generate_screenshot_markdown.py
  .github/scripts/icomoon_build.py
  .github/scripts/icomoon_peek.py
  .github/workflows/build_icons.yml
  .github/workflows/peek_icons.yml
  package.json
Labels: devops, enhancement
