Repository devicons/devicon, pull requests merged in 2020-06, with the labels that each got.

#182 Minor enhancement section contribute.
  README.md
Labels: enhancement

#220 Contribution guidelines
  CONTRIBUTING.md
  README.md
Labels: discussion, enhancement

#229 Upgrade gulp and build documentation
  README.md
  gulpfile.js
  package.json
Labels: enhancement

#179 add clojure, clojurescript and yunohost to devicon.json
  devicon.json
Labels: enhancement

#222 Migrate cdn from RawGit to jsDelivr
  index.html
Labels: enhancement

#233 separate alias from main css, regenerate fonts and fix missing icons
  README.md
  devicon-alias.css
  devicon.css
  devicon.json
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.ttf
  fonts/devicon.woff
  gulpfile.js
Labels: enhancement

#234 Add redux to devicons.json
  devicon.json
Labels: feature: icon
