Repository devicons/devicon, pull requests merged in 2020-10, with the labels that each got.

#301 Changed build_icons.yml to trigger on label added and create new pr
  .github/workflows/build_icons.yml
  fonts/devicon.eot
  fonts/devicon.ttf
  fonts/devicon.woff
Labels: bot:build

#311 Updated the CONTRIBUTING.md, README.md and code docs.
  .github/scripts/build_assets/filehandler.py
  .github/workflows/build_icons.yml
  CONTRIBUTING.md
  README.md
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.ttf
  fonts/devicon.woff
  gulpfile.js
Labels: bot:build

#314 Fix it so mocha now have a plain font
  .github/scripts/build_assets/SeleniumRunner.py
  .github/scripts/build_assets/filehandler.py
  .github/workflows/build_icons.yml
  .gitignore
  CONTRIBUTING.md
  devicon.css
  devicon.json
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.svg
  fonts/devicon.ttf
  fonts/devicon.woff
  gulpfile.js
  icomoon.json
  icons/clojure/clojure-plain.svg
  icons/yunohost/yunohost-plain.svg
  new_icons.png
Labels: bot:build

#318 Fix the delete-branch arg in the workflow yaml
  .github/workflows/build_icons.yml
Labels: bot:build

#309 New Icon: Jenkins (line, original, plain)
  devicon.json
  devicon.min.css
  icons/jenkins/jenkins-line.svg
  icons/jenkins/jenkins-original.svg
  icons/jenkins/jenkins-plain.svg
  icons/jenkins/jenkins.eps
Labels: bot:peek

#325 Fixed an async issue in the peek workflow and added a comment action
  .github/scripts/build_assets/SeleniumRunner.py
  .github/workflows/peek_icons.yml
  devicon.json
Labels: bot:peek

#331 Fix Jenkins Plain Icon
  devicon.json
  icons/jenkins/jenkins-plain.svg
  icons/jenkins/jenkins.eps
Labels: bot:peek, feature:icon

#297 New icon: Kotlin (plain, plain-wordmark, original and original-wordmark)
  devicon.json
  icons/kotlin/kotlin-original-wordmark.svg
  icons/kotlin/kotlin-original.svg
  icons/kotlin/kotlin-plain-wordmark.svg
  icons/kotlin/kotlin-plain.svg
  icons/kotlin/kotlin.eps
Labels: feature:icon

#338 New icon: Flutter (plain, original)
  devicon.json
  icons/flutter/flutter-original.svg
  icons/flutter/flutter-plain.svg
  icons/flutter/flutter.eps
Labels: bot:peek

#339 New icon: Haxe (plain, original)
  devicon.json
  icons/haxe/haxe-original.svg
  icons/haxe/haxe-plain.svg
  icons/haxe/haxe.eps
Labels: bot:peek, feature:icon

#342 New icon: Gatsby (plain, original, original-wordmark, plain-wordmark)
  devicon.json
  icons/gatsby/gatsby-original-wordmark.svg
  icons/gatsby/gatsby-original.svg
  icons/gatsby/gatsby-plain-wordmark.svg
  icons/gatsby/gatsby-plain.svg
  icons/gatsby/gatsby.eps
Labels: bot:peek, feature:icon

#343 New icon: Nestjs (plain, plain-wordmark)
  devicon.json
  icons/nestjs/nestjs-plain-wordmark.svg
  icons/nestjs/nestjs-plain.svg
  icons/nestjs/nestjs.eps
Labels: bot:peek, feature:icon

#352 New icon: Materialui (original, plain)
  devicon.json
  icons/materialui/materialui-original.svg
  icons/materialui/materialui-plain.svg
  icons/materialui/materialui.eps
Labels: bot:peek, feature:icon

#340 New icon: Woocommerce (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/woocommerce/woocommerce-original-wordmark.svg
  icons/woocommerce/woocommerce-original.svg
  icons/woocommerce/woocommerce-plain-wordmark.svg
  icons/woocommerce/woocommerce-plain.svg
  icons/woocommerce/woocommerce.eps
Labels: bot:peek, feature:icon

#336 New icon: after effects (plain, original)
  devicon.json
  icons/aftereffects/aftereffects-original.svg
  icons/aftereffects/aftereffects-plain.svg
  icons/aftereffects/aftereffects.eps
Labels: bot:peek, feature:icon

#337 New icon: Premiere pro (plain, original)
  devicon.json
  icons/premierepro/premierepro-original.svg
  icons/premierepro/premierepro-plain.svg
  icons/premierepro/premierepro.eps
Labels: bot:peek, feature:icon
