Repository devicons/devicon, pull requests merged in 2020-09, with the labels that each got.

#277 Create issue templates
  .github/ISSUE_TEMPLATE/icon-request.md
Labels: discussion, enhancement

#278 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: discussion, enhancement

#276 Merge build-integrate with updated master
  .github/ISSUE_TEMPLATE/icon-request.md
  CODE_OF_CONDUCT.md
  README.md
  devicon-alias.css
  devicon-colors.css
  devicon.css
  devicon.json
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.svg
  fonts/devicon.ttf
  fonts/devicon.woff
  icomoon.json
  icons/codepen/codepen-original-wordmark.svg
  icons/codepen/codepen-plain.svg
  icons/codepen/codepen.eps
  icons/haskell/haskell-original-wordmark.svg
  icons/haskell/haskell-original-workmark.svg
  icons/haskell/haskell-original.svg
  icons/haskell/haskell-plain-wordmark.svg
  icons/haskell/haskell-plain-workmark.svg
  icons/haskell/haskell-plain.svg
  icons/haskell/link.txt
Labels: devops

#281 Enhancing build scripts (bugfixing, documentation, introducing gulp, cleanup)
  .github/scripts/build_assets/filehandler.py
  .github/scripts/build_assets/geckodriver-v0.27.0-win64/README.md
  .github/scripts/icomoon_upload.py
  .github/workflows/build_icons.yml
  built_files/devicon.css
  built_files/fonts/devicon.eot
  built_files/fonts/devicon.svg
  built_files/fonts/devicon.ttf
  built_files/fonts/devicon.woff
  built_files/icomoon.json
  devicon.json
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.ttf
  fonts/devicon.woff
  icons/haskell/haskell-original-workmark.svg
  icons/haskell/haskell-plain-workmark.svg
  package-lock.json
Labels: devops, enhancement

#268 Introducing github action for build automatisation (using python)
  .github/scripts/build_assets/PathResolverAction.py
  .github/scripts/build_assets/SeleniumRunner.py
  .github/scripts/build_assets/filehandler.py
  .github/scripts/build_assets/geckodriver-v0.27.0-win64/README.md
  .github/scripts/build_assets/geckodriver-v0.27.0-win64/geckodriver.exe
  .github/scripts/icomoon_upload.py
  .github/scripts/requirements.txt
  .github/workflows/build_icons.yml
  .gitignore
  devicon.css
  devicon.json
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.ttf
  fonts/devicon.woff
  icomoon.json
  icons/haskell/haskell-original-wordmark.svg
  icons/haskell/haskell-original.svg
  icons/haskell/haskell-plain-wordmark.svg
  icons/haskell/haskell-plain.svg
  package-lock.json
Labels: devops, discussion, enhancement

#290 Created scripts to update the current devicon.json and generate css files based on the new json file
  devicon-alias.css
  devicon-colors.css
  devicon.json
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.ttf
  fonts/devicon.woff
  gulpfile.js
  package-lock.json
  package.json
Labels: devops, enhancement
