Repository devicons/devicon, pull requests merged in 2021-06, with the labels that each got.

#658 Update issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/icon-request.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/PULL_REQUEST_TEMPLATE/new_icon.md
  CONTRIBUTING.md
Labels: enhancement

#663 new icon: godot (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/godot/godot-original-wordmark.svg
  icons/godot/godot-original.svg
  icons/godot/godot-plain-wordmark.svg
  icons/godot/godot-plain.svg
Labels: bot:peek, enhancement

#664 new icon: vscode (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/vscode/vscode-original-wordmark.svg
  icons/vscode/vscode-original.svg
  icons/vscode/vscode-plain-wordmark.svg
  icons/vscode/vscode-plain.svg
Labels: bot:peek, feature:icon

#665 new icon: julia (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/julia/julia-original-wordmark.svg
  icons/julia/julia-original.svg
  icons/julia/julia-plain-wordmark.svg
  icons/julia/julia-plain.svg
Labels: bot:peek, feature:icon

#667 new icon: crystal (original, original-wordmark)
  devicon.json
  icons/crystal/crystal-original-wordmark.svg
  icons/crystal/crystal-original.svg
Labels: bot:peek, feature:icon

#666 Build bot now build new SVGs in folder that were already built
  .github/scripts/build_assets/api_handler.py
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/build_assets/util.py
  .github/scripts/get_release_message.py
  .github/scripts/icomoon_build.py
  .github/scripts/icomoon_peek.py
  .github/workflows/build_icons.yml
  CONTRIBUTING.md
Labels: dependencies, devops, enhancement

#671 new icon: tailwindcss (wordmark)
  devicon.json
  icons/tailwindcss/Tailwindcss-wordmark-01.eps
  icons/tailwindcss/tailwindcss-original-wordmark.svg
Labels: bot:peek, feature:icon

#686 Build bot now check both the PRs and the `devicon.json` for icons to be build
  .github/drafts/stale.yml
  .github/scripts/build_assets/filehandler.py
  .github/scripts/build_assets/util.py
  .github/scripts/icomoon_build.py
  .github/scripts/icomoon_peek.py
Labels: devops, enhancement

#692 Only build script will need token API
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/icomoon_peek.py
Labels: bug, devops, enhancement

#691 new icon: Qt (original)
  devicon.json
  icons/qt/qt-original.svg
Labels: bot:peek, feature:icon

#697 new icon: Threejs (original, original-wordmark)
  devicon.json
  icons/threejs/threejs-original-wordmark.svg
  icons/threejs/threejs-original.svg
Labels: bot:peek, feature:icon

#705 new icon: Svelte (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/svelte/svelte-original-wordmark.svg
  icons/svelte/svelte-original.svg
  icons/svelte/svelte-plain-wordmark.svg
  icons/svelte/svelte-plain.svg
Labels: bot:peek, feature:icon

#708 new icon: slack (plain-wordmark, plain, original, original-wordmark)
  icons/slack/slack-original-wordmark.svg
  icons/slack/slack-original.svg
  icons/slack/slack-plain-wordmark.svg
  icons/slack/slack-plain.svg
  icons/slack/slack.eps
Labels: bot:peek, feature:icon

#694 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement

#704 Add a color picker in the header
  docs/assets/css/style.css
  docs/assets/js/script.js
  docs/index.html
Labels: enhancement

#700 new icon: GCC (original)
  devicon.json
  icons/gcc/gcc-original.svg
  icons/gcc/gcc-plain.svg
Labels: bot:peek, feature:icon
