Repository devicons/devicon, pull requests merged in 2021-03, with the labels that each got.

#524 feat: Setup Stale workflow
  .github/workflows/stale.yml
  README.md
Labels: devops, discussion

#528 fix: Alerts reported by Dependabot
  package-lock.json
Labels: devops

#530 New icon: graphql (plain, plain-wordmark)
  devicon.json
  icons/graphql/graphql-plain-wordmark.svg
  icons/graphql/graphql-plain.svg
Labels: bot:peek

#531 new icon: figma (original, plain)
  devicon.json
  icons/figma/figma-original.svg
  icons/figma/figma-plain.svg
Labels: bot:peek, feature:icon

#533 New icon: dotnetcore (original)
  devicon.json
  icons/dotnetcore/dotnetcore-original.svg
  icons/dotnetcore/dotnetcore-plain.svg
Labels: bot:peek, feature:icon

#538 Add Discord invitation on the website, `README.md`, and `CONTRIBUTING.md`
  CONTRIBUTING.md
  README.md
  docs/assets/css/discord-logo.svg
  docs/assets/css/style.css
  docs/index.html
Labels: enhancement

#541 new icon: nextjs (original)
  devicon.json
  icons/nextjs/nextjs-line.svg
  icons/nextjs/nextjs-original-wordmark.svg
  icons/nextjs/nextjs-original.svg
Labels: bot:peek, feature:icon
