Repository devicons/devicon, pull requests merged in 2021-07, with the labels that each got.

#707 new icon: JIRA (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/jira/jira-original-wordmark.svg
  icons/jira/jira-original.svg
  icons/jira/jira-plain-wordmark.svg
  icons/jira/jira-plain.svg
Labels: bot:peek, feature:icon

#710 new icon: Canva (original, plain)
  devicon.json
  icons/canva/canva-original.svg
Labels: bot:peek, feature:icon

#711 new icon: jetbrains (plain, original)
  devicon.json
  icons/jetbrains/jetbrains-original.svg
  icons/jetbrains/jetbrains-plain.svg
  icons/jetbrains/jetbrains.eps
Labels: bot:peek, enhancement

#712 new icon: jamstack (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/jamstack/jamstack-original-wordmark.svg
  icons/jamstack/jamstack-original.svg
  icons/jamstack/jamstack-plain-wordmark.svg
Labels: bot:peek, feature:icon

#713 new icon: denojs (original, original-wordmark)
  devicon.json
  icons/denojs/denojs-original-wordmark.svg
  icons/denojs/denojs-original.svg
Labels: bot:peek, feature:icon

#703 Create a general pull_request_template.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/icon-request.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/PULL_REQUEST_TEMPLATE/new_icon.md
  .github/drafts/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/drafts/PULL_REQUEST_TEMPLATE/new_icon.md
  .github/pull_request_template.md
Labels: enhancement

#715 new icon: apachekafka (original, original-wordmark)
  devicon.json
  icons/apachekafka/apachekafka-original-wordmark.svg
  icons/apachekafka/apachekafka-original.svg
Labels: bot:peek, feature:icon

#725 new icon: filezilla (original)
  devicon.json
  icons/filezilla/filezilla-plain-wordmark.svg
  icons/filezilla/filezilla-plain.svg
Labels: bot:peek, feature:icon

#734 new icon: unity (original, original-wordmark)
  devicon.json
  icons/unity/unity-original-wordmark.svg
  icons/unity/unity-original.svg
Labels: bot:peek, feature:icon

#738 new icon: markdown (original)
  devicon.json
  icons/markdown/markdown-original.svg
Labels: bot:peek, feature:icon

#742 new icon: neo4j (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/neo4j/neo4j-original-wordmark.svg
  icons/neo4j/neo4j-original.svg
  icons/neo4j/neo4j-plain-wordmark.svg
  icons/neo4j/neo4j-plain.svg
Labels: bot:peek, feature:icon

#744 new icon: socketio (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/socketio/socketio-original-wordmark.svg
  icons/socketio/socketio-original.svg
Labels: bot:peek, feature:icon

#743 new icon: nuxtjs (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/nuxtjs/nuxtjs-original-wordmark.svg
  icons/nuxtjs/nuxtjs-original.svg
  icons/nuxtjs/nuxtjs-plain-wordmark.svg
  icons/nuxtjs/nuxtjs-plain.svg
Labels: bot:peek, feature:icon

#731 new icon: subversion (original, original-wordmark)
  devicon.json
  icons/subversion/subversion-original-wordmark.svg
  icons/subversion/subversion-original.svg
Labels: bot:peek, feature:icon

#747 new icon: processing (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/processing/processing-original-wordmark.svg
  icons/processing/processing-original.svg
  icons/processing/processing-plain-wordmark.svg
  icons/processing/processing-plain.svg
Labels: bot:peek, feature:icon

#756 Publish to npm name
  .github/workflows/npm_publish.yml
Labels: enhancement

#765 Closes #693 - Fix issue with vuestorefront having wrong folder name
  icons/vuestorefront/vuestorefront-original.svg
  icons/vuestorefront/vuestorefront-plain.svg
  icons/vuestorefront/vuestorefront.eps
Labels: bug

#764 Convert all issue templates into issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/icon-request.md
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/ISSUE_TEMPLATE/other.yml
Labels: enhancement

#761 Noscript Fix
  docs/index.html
Labels: enhancement

#730 new icon: opera (original, original-wordmark)
  devicon.json
  icons/opera/opera-original-wordmark.svg
  icons/opera/opera-original.svg
  icons/opera/opera-plain-wordmark.svg
  icons/opera/opera-plain.svg
Labels: bot:peek, feature:icon

#772 new icon: feathersjs (original)
  devicon.json
  icons/feathersjs/feathersjs-original.svg
Labels: bot:peek, feature:icon

#727 new icon: opengl (original)
  devicon.json
  icons/opengl/opengl-original.svg
  icons/opengl/opengl-plain.svg
Labels: bot:peek, feature:icon
