Repository devicons/devicon, pull requests merged in 2021-11, with the labels that each got.

#901 new icon: cmake (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/cmake/cmake-original-wordmark.svg
  icons/cmake/cmake-original.svg
  icons/cmake/cmake-plain-wordmark.svg
  icons/cmake/cmake-plain.svg
Labels: bot:peek

#904 Update the Code of Conduct to the latest version
  CODE_OF_CONDUCT.md
Labels: enhancement

#909 Fix: Outdated discord logo
  docs/assets/css/discord-logo.svg
Labels: enhancement

#908 New feature: add contact information in the issue template configuration
  .github/ISSUE_TEMPLATE/config.yml
Labels: enhancement

#914 fix: make `tags` an array for `elixir` in `devicon.json`
  devicon.json
Labels: bug

#919 feat: Improve SEO
  docs/index.html
Labels: enhancement

#899 new icon: jetbrains (plain)
  icons/jetbrains/jetbrains-plain.svg
Labels: feature:icon, bot:peek

#912 new icon: nuget (original, original-wordmark)
  devicon.json
  icons/nuget/nuget-original-wordmark.svg
  icons/nuget/nuget-original.svg
Labels: feature:icon, bot:peek

#917 new icon: networkx (original)
  devicon.json
  icons/networkx/networkx-original.svg
Labels: feature:icon, bot:peek

#916 new icon: podman (original, original-wordmark)
  devicon.json
  icons/podman/podman-original-wordmark.svg
  icons/podman/podman-original.svg
  icons/podman/podman-plain-wordmark.svg
  icons/podman/podman-plain.svg
Labels: feature:icon, bot:peek
