Repository devicons/devicon, pull requests merged in 2021-08, with the labels that each got.

#768 Close #767 - convert strokes to fills for socketio SVGs
  icons/socketio/socketio-original-wordmark.svg
  icons/socketio/socketio-original.svg
Labels: enhancement

#779 new icon: adonisjs (original, original-wordmark)
  devicon.json
  icons/adonisjs/adonisjs-original-wordmark.svg
  icons/adonisjs/adonisjs-original.svg
Labels: feature:icon, bot:peek

#750 new icon: Bootstrap (original)
  devicon.json
  icons/bootstrap/bootstrap-original.svg
Labels: feature:icon, bot:peek

#726 new icon: msdos (original)
  devicon.json
  icons/msdos/msdos-line.svg
  icons/msdos/msdos-original.svg
  icons/msdos/msdos-plain.svg
Labels: feature:icon, bot:peek

#729 new icon: putty (original)
  devicon.json
  icons/putty/putty-original.svg
  icons/putty/putty-plain.svg
Labels: feature:icon, bot:peek

#733 new icon: towergit (original, original-wordmark)
  devicon.json
  icons/towergit/towergit-original-wordmark.svg
  icons/towergit/towergit-original.svg
  icons/towergit/towergit-plain-wordmark.svg
  icons/towergit/towergit-plain.svg
Labels: feature:icon, bot:peek

#791 Remove aliases in the OpenGL icon as they're not needed
  devicon.json
Labels: bug

#732 new icon: tortoisegit (original)
  devicon.json
  icons/tortoisegit/tortoisegit-line.svg
  icons/tortoisegit/tortoisegit-original.svg
  icons/tortoisegit/tortoisegit-plain.svg
Labels: feature:icon, bot:peek

#783 new icon: numpy (original, original-wordmark)
  devicon.json
  icons/numpy/numpy-original-wordmark.svg
  icons/numpy/numpy-original.svg
Labels: feature:icon, bot:peek

#792 Fix the wrong `viewBox` in the `towergit-plain-wordmark.svg` file
  icons/towergit/towergit-plain-wordmark.svg
Labels: bug

#793 Fix issues with npm security
  gulpfile.js
  package-lock.json
  package.json
Labels: enhancement, devops, dependencies

#794 new icon: matlab (line)
  icons/matlab/matlab-line.svg
Labels: feature:icon, bot:peek

#795 new icon: clojurescript (plain)
  icons/clojurescript/clojurescript-plain.svg
Labels: feature:icon, bot:peek

#797 new icon: threejs (original, original-wordmark)
  icons/threejs/threejs-original-wordmark.svg
  icons/threejs/threejs-original.svg
Labels: feature:icon, bot:peek

#804 new icon: markdown (original)
  icons/markdown/markdown-original.svg
Labels: bot:peek

#807 Feature: check-svg-bot upgrade
  .github/scripts/check_svgs_on_pr.py
Labels: enhancement, devops

#806 Feature: Peek and Build-Bot Upgrade
  .github/scripts/build_assets/SeleniumRunner.py
  .github/scripts/build_assets/api_handler.py
  .github/scripts/build_assets/filehandler.py
  .github/scripts/build_assets/selenium_runner/BuildSeleniumRunner.py
  .github/scripts/build_assets/selenium_runner/PeekSeleniumRunner.py
  .github/scripts/build_assets/selenium_runner/SeleniumRunner.py
  .github/scripts/build_assets/selenium_runner/enums.py
  .github/scripts/build_assets/util.py
  .github/scripts/get_release_message.py
  .github/scripts/icomoon_build.py
  .github/scripts/icomoon_peek.py
  .github/workflows/build_icons.yml
  .github/workflows/get_release_message.yml
  .github/workflows/post_peek_screenshot.yml
  .gitignore
  devicon-base.css
  gulpfile.js
Labels: enhancement, devops

#808 Update the README and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: enhancement

#796 new icon: pandas (original, original-wordmark)
  devicon.json
  icons/pandas/pandas-original-wordmark.svg
  icons/pandas/pandas-original.svg
Labels: feature:icon, bot:peek

#724 new icon: centos (original, original-wordmark)
  devicon.json
  icons/centos/centos-original-wordmark.svg
  icons/centos/centos-original.svg
  icons/centos/centos-plain-wordmark.svg
  icons/centos/centos-plain.svg
Labels: feature:icon, bot:peek

#799 new icon: storybook (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/storybook/storybook-original-wordmark.svg
  icons/storybook/storybook-original.svg
  icons/storybook/storybook-plain-wordmark.svg
  icons/storybook/storybook-plain.svg
Labels: feature:icon, bot:peek

#815 Fix syntax with the issue templates
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/icon_request.yml
Labels: enhancement

#816 new icon: azure (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/azure/azure-original-wordmark.svg
  icons/azure/azure-original.svg
  icons/azure/azure-plain-wordmark.svg
  icons/azure/azure-plain.svg
Labels: feature:icon, bot:peek

#821 update icon: go (original-wordmark)
  devicon.json
  icons/go/go-original-wordmark.svg
Labels: feature:icon, bot:peek

#813 Feature/website cache busting
  docs/assets/js/script.js
  docs/index.html
Labels: enhancement

#824 New Feature: Update the docs for CONTRIBUTING.md
  CONTRIBUTING.md
Labels: enhancement

#823 update icon: devicon (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/devicon/devicon-line-wordmark.svg
  icons/devicon/devicon-line.svg
  icons/devicon/devicon-original-wordmark.svg
  icons/devicon/devicon-plain-wordmark.svg
Labels: feature:icon, bot:peek

#830 New Feature: Updated geckodriver
  .github/drafts/optimize_svg.yml
  .github/scripts/build_assets/geckodriver-v0.27.0-win64/geckodriver.exe
  .github/scripts/build_assets/geckodriver-v0.29.1-win64/README.md
  .github/scripts/build_assets/geckodriver-v0.29.1-win64/geckodriver.exe
  .github/workflows/build_icons.yml
  .github/workflows/peek_icons.yml
Labels: bug, devops

#827 update icon: msdos (original, plain, line)
  devicon.json
Labels: enhancement, feature:icon
