Repository devicons/devicon, pull requests merged in 2021-09, with the labels that each got.

#829 New Feature: Fixed `capture.canvas` issue as seen in #822
  .github/scripts/build_assets/selenium_runner/PeekSeleniumRunner.py
Labels: devops

#834 New Feature: webpage now displays <img> of SVG
  docs/assets/js/script.js
  docs/index.html
Labels: enhancement

#840 Build preparation for release v2.14.0
  devicon-base.css
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.svg
  fonts/devicon.ttf
  fonts/devicon.woff
  gulpfile.js
  icomoon.json
  icons/azure/azure-original-wordmark.svg
  icons/azure/azure-original.svg
  icons/azure/azure-plain-wordmark.svg
  icons/azure/azure-plain.svg
  icons/centos/centos-original-wordmark.svg
  icons/centos/centos-original.svg
  icons/centos/centos-plain-wordmark.svg
  icons/centos/centos-plain.svg
  icons/devicon/devicon-line-wordmark.svg
  icons/devicon/devicon-line.svg
  icons/devicon/devicon-original-wordmark.svg
  icons/devicon/devicon-original.svg
  icons/devicon/devicon-plain-wordmark.svg
  icons/devicon/devicon-plain.svg
  icons/go/go-line.svg
  icons/go/go-original-wordmark.svg
  icons/go/go-original.svg
  icons/go/go-plain.svg
  icons/pandas/pandas-original-wordmark.svg
  icons/pandas/pandas-original.svg
  icons/storybook/storybook-original-wordmark.svg
  icons/storybook/storybook-plain-wordmark.svg
  package-lock.json
  package.json
Labels: enhancement, new release

#842 Release v2.14.0
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/drafts/optimize_svg.yml
  .github/scripts/build_assets/geckodriver-v0.27.0-win64/geckodriver.exe
  .github/scripts/build_assets/geckodriver-v0.29.1-win64/README.md
  .github/scripts/build_assets/geckodriver-v0.29.1-win64/geckodriver.exe
  .github/scripts/build_assets/selenium_runner/PeekSeleniumRunner.py
  .github/workflows/build_icons.yml
  .github/workflows/peek_icons.yml
  CONTRIBUTING.md
  devicon-base.css
  devicon.json
  devicon.min.css
  docs/assets/js/script.js
  docs/index.html
  fonts/devicon.eot
  fonts/devicon.svg
  fonts/devicon.ttf
  fonts/devicon.woff
  gulpfile.js
  icomoon.json
  icons/azure/azure-original-wordmark.svg
  icons/azure/azure-original.svg
  icons/azure/azure-plain-wordmark.svg
  icons/azure/azure-plain.svg
  icons/centos/centos-original-wordmark.svg
  icons/centos/centos-original.svg
  icons/centos/centos-plain-wordmark.svg
  icons/centos/centos-plain.svg
  icons/devicon/devicon-line-wordmark.svg
  icons/devicon/devicon-line.svg
  icons/devicon/devicon-original-wordmark.svg
  icons/devicon/devicon-original.svg
  icons/devicon/devicon-plain-wordmark.svg
  icons/devicon/devicon-plain.svg
  icons/go/go-line.svg
  icons/go/go-original-wordmark.svg
  icons/go/go-original.svg
  icons/go/go-plain.svg
  icons/pandas/pandas-original-wordmark.svg
  icons/pandas/pandas-original.svg
  icons/storybook/storybook-original-wordmark.svg
  icons/storybook/storybook-original.svg
  icons/storybook/storybook-plain-wordmark.svg
  icons/storybook/storybook-plain.svg
  package-lock.json
  package.json
Labels: new release

#835 new icon: kaggle (original, original-wordmark)
  devicon.json
  icons/kaggle/kaggle-original-wordmark.svg
  icons/kaggle/kaggle-original.svg
Labels: feature:icon, bot:peek
