Repository devicons/devicon, pull requests merged in 2021-02, with the labels that each got.

#491 new icon: r (original, plain)
  devicon.json
  icons/r/r-original.svg
  icons/r/r-plain.svg
Labels: bot:peek, feature:icon

#495 new icon: fsharp (original)
  devicon.json
  icons/fsharp/fsharp-original.svg
  icons/fsharp/fsharp-plain.svg
Labels: bot:peek, feature:icon

#500 new icon: elixir (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/elixir/elixir-original-wordmark.svg
  icons/elixir/elixir-original.svg
  icons/elixir/elixir-plain-wordmark.svg
  icons/elixir/elixir-plain.svg
Labels: bot:peek, feature:icon

#492 new icon: matlab (original, plain)
  devicon.json
  icons/matlab/matlab-original.svg
  icons/matlab/matlab-plain.svg
Labels: bot:peek, feature:icon

#501 new icon: Jupyter (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/jupyter/jupyter-original-wordmark.svg
  icons/jupyter/jupyter-original.svg
  icons/jupyter/jupyter-plain-wordmark.svg
  icons/jupyter/jupyter-plain.svg
Labels: bot:peek, feature:icon

#497 automate workflow for npm publish
  .github/workflows/npm_publish.yml
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: devops, enhancement

#502 new icon: OCaml (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/ocaml/ocaml-original-wordmark.svg
  icons/ocaml/ocaml-original.svg
  icons/ocaml/ocaml-plain-wordmark.svg
  icons/ocaml/ocaml-plain.svg
Labels: bot:peek, feature:icon

#496 redesign readme.md
  README.md
Labels: enhancement

#503 merge master < develop
  CONTRIBUTING.md
  devicon.json
Labels: bug

#508 fix check svg icons workflow
  .github/scripts/build_assets/filehandler.py
Labels: devops, enhancement

#507 new icon: AArch64 (original, plain)
  devicon.json
  icons/aarch64/aarch64-original.svg
  icons/aarch64/aarch64-plain.svg
Labels: bot:peek, discussion, feature:icon

#511 Remove \n from script
  .github/workflows/post_peek_screenshot.yml
Labels: enhancement

#513 add environment for npm publish workflow
  .github/workflows/npm_publish.yml
Labels: devops, enhancement

#515 Fix the issue with "Post Check SVG" posting the wrong message
  .github/workflows/post_check_svgs_comment.yml
Labels: devops, enhancement

#516 introducing teams and guidelines for supporters
  CONTRIBUTING.md
  README.md
Labels: devops, discussion

#520 Fix issue with "post_peek_screenshot" action failing when it's not supposed to
  .github/workflows/peek_icons.yml
  .github/workflows/post_peek_screenshot.yml
Labels: approved, bug, devops

#521 new icon: TheAlgorithms (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/thealgorithms/thealgorithms-original-wordmark.svg
  icons/thealgorithms/thealgorithms-original.svg
  icons/thealgorithms/thealgorithms-plain-wordmark.svg
  icons/thealgorithms/thealgorithms-plain.svg
Labels: bot:peek, feature:icon

#522 new icon: dart (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/dart/dart-original-wordmark.svg
  icons/dart/dart-original.svg
  icons/dart/dart-plain-wordmark.svg
  icons/dart/dart-plain.svg
Labels: approved, bot:peek, feature:icon
