Repository devicons/devicon, pull requests merged in 2021-04, with the labels that each got.

#544 new icon: weblate (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/weblate/weblate-original-wordmark.svg
  icons/weblate/weblate-original.svg
  icons/weblate/weblate-plain-wordmark.svg
  icons/weblate/weblate-plain.svg
Labels: bot:peek, feature:icon

#547 new icon: digitalocean (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/digitalocean/digitalocean-original-wordmark.svg
  icons/digitalocean/digitalocean-original.svg
  icons/digitalocean/digitalocean-plain-wordmark.svg
  icons/digitalocean/digitalocean-plain.svg
Labels: bot:peek, feature:icon

#548 new icon: lua (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/lua/lua-original-wordmark.svg
  icons/lua/lua-original.svg
  icons/lua/lua-plain-wordmark.svg
  icons/lua/lua-plain.svg
Labels: bot:peek, feature:icon

#550 new icon: spring (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/spring/spring-original-wordmark.svg
  icons/spring/spring-original.svg
  icons/spring/spring-plain-wordmark.svg
  icons/spring/spring-plain.svg
Labels: bot:peek, feature:icon

#551 new icon: phoenix (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/phoenix/phoenix-original-wordmark.svg
  icons/phoenix/phoenix-original.svg
  icons/phoenix/phoenix-plain-wordmark.svg
  icons/phoenix/phoenix-plain.svg
Labels: bot:peek, feature:icon

#555 add paragraph about release strategy
  .github/workflows/build_icons.yml
  CONTRIBUTING.md
Labels: devops, discussion, enhancement

#556 new icon: gitter (plain, plain-wordmark)
  devicon.json
  icons/gitter/gitter-plain-wordmark.svg
  icons/gitter/gitter-plain.svg
Labels: bot:peek, feature:icon

#557 Fix link reference in `.github/scripts/icomoon_peek.py`
  .github/scripts/icomoon_peek.py
Labels: devops

#554 new icon: rails (plain, plain-wordmark)
  devicon.json
  icomoon.json
  icons/rails/rails-plain-wordmark.svg
  icons/rails/rails-plain.svg
Labels: bot:peek, feature:icon

#559 Build preparation for Release v2.11.0
  .github/workflows/build_icons.yml
  .github/workflows/post_peek_screenshot.yml
  devicon.css
  devicon.min.css
  fonts/devicon.eot
  fonts/devicon.svg
  fonts/devicon.ttf
  fonts/devicon.woff
  icomoon.json
  package-lock.json
  package.json
Labels: enhancement

#561 enhance guidelines for drafting a new release
  CONTRIBUTING.md
Labels: devops

#564 new icon: nixos (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/nixos/nixos-original-wordmark.svg
  icons/nixos/nixos-original.svg
  icons/nixos/nixos-plain-wordmark.svg
  icons/nixos/nixos-plain.svg
Labels: bot:peek, feature:icon

#569 new icon: perl (original, plain)
  devicon.json
  icons/perl/perl-original.svg
  icons/perl/perl-plain.svg
Labels: bot:peek, feature:icon

#532 New icon: arduino (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/arduino/arduino-original-wordmark.svg
  icons/arduino/arduino-original.svg
  icons/arduino/arduino-plain-wordmark.svg
  icons/arduino/arduino-plain.svg
Labels: bot:peek, feature:icon

#219 new icon: arduino (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/arduino/arduino-original-wordmark.svg
  icons/arduino/arduino-original.svg
  icons/arduino/arduino-plain-wordmark.svg
  icons/arduino/arduino-plain.svg
Labels: bot:peek, feature:icon, stale

#576 Script upgrades and updated CONTRIBUTING.md and README.md
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/PULL_REQUEST_TEMPLATE/new_icon.md
  .github/drafts/check_devicon_object.py
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/get_release_message.py
  .github/scripts/icomoon_peek.py
  .github/scripts/requirements.txt
  .github/workflows/get_release_message.yml
  .github/workflows/peek_icons.yml
  .github/workflows/post_peek_screenshot.yml
  CONTRIBUTING.md
  README.md
  gulpfile.js
  package.json
Labels: dependencies, devops
