Repository devicons/devicon, pull requests merged in 2021-01, with the labels that each got.

#415 new icon: Bash (original, plain)
  devicon.json
  icons/bash/bash-original.svg
  icons/bash/bash-plain.svg
  icons/bash/bash.eps
Labels: bot:peek, feature:icon

#455 fix displaying svg code in devicon.dev
  docs/assets/js/script.js
Labels: devops

#413 new icon: Eleventy (original, plain)
  devicon.json
  icons/eleventy/eleventy-original.svg
  icons/eleventy/eleventy-plain.svg
Labels: bot:peek, feature:icon

#427 new icon: microsoftsqlserver (plain, plain-wordmark)
  devicon.json
  icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg
  icons/microsoftsqlserver/microsoftsqlserver-plain.svg
  icons/microsoftsqlserver/microsoftsqlserver.eps
Labels: bot:peek, feature:icon

#424 new icon: kubernetes (plain, plain-wordmark)
  devicon.json
  icons/kubernetes/kubernetes-plain-wordmark.svg
  icons/kubernetes/kubernetes-plain.svg
  icons/kubernetes/kubernetes.eps
Labels: bot:peek, feature:icon

#423 new icon: rocksdb (plain)
  devicon.json
  icons/rocksdb/rocksdb-plain.svg
  icons/rocksdb/rocksdb.eps
Labels: bot:peek, feature:icon

#428 new icon: googlecloud (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/googlecloud/googlecloud-original-wordmark.svg
  icons/googlecloud/googlecloud-original.svg
  icons/googlecloud/googlecloud-plain-wordmark.svg
  icons/googlecloud/googlecloud-plain.svg
Labels: bot:peek, feature:icon

#425 new icon: objectivec (plain)
  devicon.json
  icons/objectivec/objectivec-plain.svg
  icons/objectivec/objectivec.eps
Labels: bot:peek, feature:icon

#461 new icon: firebase (plain, plain-wordmark)
  devicon.json
  icons/firebase/firebase-plain-wordmark.svg
  icons/firebase/firebase-plain.svg
  icons/firebase/firebase.eps
Labels: bot:peek, feature:icon

#463 new icon: flask (original, original-wordmark)
  devicon.json
  icons/flask/flask-original-wordmark.svg
  icons/flask/flask-original.svg
Labels: bot:peek, feature:icon

#462 new icon: uwsgi (original, plain)
  devicon.json
  icons/uwsgi/uwsgi-original.svg
  icons/uwsgi/uwsgi-plain.svg
  icons/uwsgi/uwsgi.eps
Labels: bot:peek

#426 new icon: sqlalchemy (original, original-wordmark, plain)
  devicon.json
  icons/sqlalchemy/sqlalchemy-original-wordmark.svg
  icons/sqlalchemy/sqlalchemy-original.svg
  icons/sqlalchemy/sqlalchemy-plain.svg
  icons/sqlalchemy/sqlalchemy.eps
Labels: bot:peek, feature:icon

#460 Added check script for the icons and fix icons with fill or viewBox issues
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/build_assets/drafts/check_devicon_object.py
  .github/scripts/build_assets/filehandler.py
  .github/scripts/build_assets/github_env.py
  .github/scripts/check_all_icons.py
  .github/scripts/check_svgs.py
  .github/scripts/icomoon_build.py
  .github/scripts/icomoon_peek.py
  .github/workflows/build_icons.yml
  .github/workflows/check_svgs.yml
  .github/workflows/peek_icons.yml
  CONTRIBUTING.md
  icons/cucumber/cucumber-plain-wordmark.svg
  icons/intellij/intellij-plain-wordmark.svg
  icons/jenkins/jenkins-plain.svg
  icons/twitter/twitter-original.svg
  icons/yunohost/yunohost-plain.svg
Labels: devops, enhancement

#81 new icon: Adobe XD (plain, line)
  devicon.json
  icons/xd/xd-line.svg
  icons/xd/xd-plain.svg
  icons/xd/xd.eps
Labels: feature:icon, stale

#480 Add guideline about squash merging
  CONTRIBUTING.md
Labels: devops, enhancement

#371 new icon: appwrite (plain, original, wordmark)
  devicon.json
  icons/appwrite/appwrite-original-wordmark.svg
  icons/appwrite/appwrite-original.svg
  icons/appwrite/appwrite-plain-wordmark.svg
  icons/appwrite/appwrite-plain.svg
  icons/appwrite/appwrite.eps
Labels: bot:peek, feature:icon
