Repository devicons/devicon, pull requests merged in 2021-05, with the labels that each got.

#586 Replace raw.githubusercontent.com with jsdelivr
  docs/assets/js/script.js
  docs/index.html
Labels: bug

#587 new icon: zig (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/zig/zig-original-wordmark.svg
  icons/zig/zig-original.svg
  icons/zig/zig-plain-wordmark.svg
Labels: bot:peek

#585 new icon: tensorflow (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/tensorflow/tensorflow-line-wordmark.svg
  icons/tensorflow/tensorflow-line.svg
  icons/tensorflow/tensorflow-original-wordmark.svg
  icons/tensorflow/tensorflow-original.svg
Labels: bot:peek

#595 Clean up and CONTRIBUTING upgrade
  .github/drafts/check_svgs_monthly.py
  .github/drafts/check_svgs_monthly.yml
  .github/drafts/peek_icons imgur.yml
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/build_assets/filehandler.py
  .github/scripts/check_svgs_on_pr.py
  .github/workflows/get_release_message.yml
  CONTRIBUTING.md
  README.md
Labels: enhancement

#103 Fix python wordmark icon
  icons/python/python-original-wordmark.svg
Labels: bot:optimize, feature:icon, stale

#610 New icon: tailwindcss (plain)
  devicon.json
  icons/tailwindcss/tailwindcss-plain.svg
  package-lock.json
Labels: bot:optimize, bot:peek

#626 new icon: labview (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/labview/labview-original-wordmark.svg
  icons/labview/labview-original.svg
  icons/labview/labview-plain-wordmark.svg
  icons/labview/labview-plain.svg
  icons/labview/labview.eps
Labels: bot:peek

#627 new icon: modx (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/modx/modx-original-wordmark.svg
  icons/modx/modx-original.svg
  icons/modx/modx-plain-wordmark.svg
  icons/modx/modx-plain.svg
  icons/modx/modx.eps
Labels: bot:peek

#625 new icon: embeddedc (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/embeddedc/embeddedc-original-wordmark.svg
  icons/embeddedc/embeddedc-original.svg
  icons/embeddedc/embeddedc-plain-wordmark.svg
  icons/embeddedc/embeddedc-plain.svg
  icons/embeddedc/embeddedc.eps
Labels: bot:peek

#634 new icon: rstudio (original, plain)
  devicon.json
  icons/rstudio/rstudio-original.svg
  icons/rstudio/rstudio-plain.svg
Labels: bot:peek, feature:icon

#635 new icon: phalcon (original, plain)
  devicon.json
  icons/phalcon/phalcon-original.svg
  icons/phalcon/phalcon-plain.svg
  icons/phalcon/phalcon.eps
Labels: bot:peek, feature:icon

#636 new icon: minitab (original, plain)
  devicon.json
  icons/minitab/minitab-original.svg
  icons/minitab/minitab-plain.svg
  icons/minitab/minitab.eps
Labels: bot:peek, feature:icon

#638 new icon: bulma (plain)
  devicon.json
  icons/bulma/bulma-plain.svg
Labels: bot:peek, feature:icon

#639 new icon: spss (original, plain)
  devicon.json
  icons/spss/spss-original.svg
  icons/spss/spss-plain.svg
  icons/spss/spss.eps
Labels: bot:peek, feature:icon

#643 matlab: plain version - optimisation for svg
  icons/matlab/matlab-line.svg
Labels: bot:peek, enhancement

#647 new icon: jest (plain)
  devicon.json
  icons/jest/jest-plain.svg
  icons/jest/jest.eps
Labels: bot:peek, feature:icon

#651 update public-upload-to-imgur action v2.2.2
  .github/workflows/build_icons.yml
  .github/workflows/post_peek_screenshot.yml
Labels: dependencies, devops

#646 new icon: karma (original, plain)
  devicon.json
  icons/karma/karma-original.svg
  icons/karma/karma-plain.svg
  icons/karma/karma.eps
Labels: bot:peek, feature:icon

#648 new icon: circleci (plain, plain-wordmark)
  devicon.json
  icons/circleci/circleci-plain-wordmark.svg
  icons/circleci/circleci-plain.svg
  icons/circleci/circleci.eps
Labels: bot:peek, feature:icon

#653 new icon: shopware (original, original-wordmark)
  devicon.json
  icons/shopware/shopware-original-wordmark.svg
  icons/shopware/shopware-original.svg
  icons/shopware/shopware.eps
Labels: bot:peek, feature:icon

#654 new icon: salesforce (original, plain)
  devicon.json
  icons/salesforce/salesforce-original.svg
  icons/salesforce/salesforce-plain.svg
  icons/salesforce/salesforce.eps
Labels: bot:peek, feature:icon

#655 new icon: vuestorefront (original, plain)
  devicon.json
  icons/vueStorefront/vuestorefront-original.svg
  icons/vueStorefront/vuestorefront-plain.svg
  icons/vueStorefront/vuestorefront.eps
Labels: bot:peek, feature:icon

#649 new icon: codecov (plain)
  devicon.json
  icons/codecov/codecov-plain.svg
  icons/codecov/codecov.eps
Labels: bot:peek, feature:icon

#659 new icon: Unix (original)
  devicon.json
  icons/unix/unix-original.svg
  icons/unix/unix.eps
Labels: bot:peek, feature:icon

#657 Peek bot won't check whether icon is in icomoon
  .github/scripts/icomoon_peek.py
Labels: devops, enhancement

#652 new icon: magento (original, original-wordmark, line)
  devicon.json
  icons/magento/magento-line.svg
  icons/magento/magento-original-wordmark.svg
  icons/magento/magento-original.svg
  icons/magento/magento.eps
Labels: bot:peek, feature:icon

#660 Fix svg checker double posting comment
  .github/workflows/post_check_svgs_comment.yml
Labels: devops, enhancement
