Repository devicons/devicon, pull requests merged in 2021-12, with the labels that each got.

#942 update icon: django (plain, plain-wordmark)
  devicon.json
  icons/django/django-line.svg
  icons/django/django-original.svg
  icons/django/django-plain-wordmark.svg
  icons/django/django-plain.svg
  icons/django/django.eps
Labels: feature:icon, bot:peek

#941 Update `CONTRIBUTING.md` with Devicon line logos
  CONTRIBUTING.md
Labels: enhancement

#966 New Feature: Upgrade Peekbot
  .github/scripts/build_assets/geckodriver-v0.29.1-win64/geckodriver.exe
  .github/scripts/build_assets/geckodriver-v0.30.0-win64/README.md
  .github/scripts/build_assets/geckodriver-v0.30.0-win64/geckodriver.exe
  .github/scripts/build_assets/selenium_runner/PeekSeleniumRunner.py
  .github/scripts/build_assets/selenium_runner/SeleniumRunner.py
  .github/scripts/icomoon_peek.py
  .github/scripts/requirements.txt
  .github/workflows/peek_icons.yml
  .github/workflows/post_peek_screenshot.yml
Labels: devops

#926 new icon: sqlite (original, original-wordmark, plain)
  devicon.json
  icons/sqlite/sqlite-original-wordmark.svg
  icons/sqlite/sqlite-original.svg
  icons/sqlite/sqlite-plain-wordmark.svg
  icons/sqlite/sqlite-plain.svg
Labels: feature:icon, bot:peek

#981 update icon: devicon (original-wordmark)
  icons/devicon/devicon-original-wordmark.svg
Labels: feature:icon, bot:peek

#982 update icon: bootstrap (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/bootstrap/bootstrap-original-wordmark.svg
  icons/bootstrap/bootstrap-original.svg
  icons/bootstrap/bootstrap-plain-wordmark.svg
  icons/bootstrap/bootstrap-plain.svg
  icons/bootstrap/bootstrap.eps
Labels: feature:icon, bot:peek

#937 new icon: discordjs (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/discordjs/discordjs-original-wordmark.svg
  icons/discordjs/discordjs-original.svg
  icons/discordjs/discordjs-plain-wordmark.svg
  icons/discordjs/discordjs-plain.svg
Labels: feature:icon, bot:peek

#985 new icon: solidity (original, plain)
  devicon.json
  icons/solidity/solidity-original.svg
  icons/solidity/solidity-plain.svg
Labels: feature:icon, bot:peek

#939 new icon: unrealengine (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/unrealengine/unrealengine-original-wordmark.svg
  icons/unrealengine/unrealengine-original.svg
Labels: feature:icon, bot:peek

#989 new icon: polygon (plain, original)
  devicon.json
  icons/polygon/polygon-original.svg
  icons/polygon/polygon-plain.svg
Labels: feature:icon, bot:peek

#986 Upgrade PR and Issue Templates
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/PULL_REQUEST_TEMPLATE/new_icon.md
  .github/drafts/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/pull_request_template.md
Labels: enhancement
