Repository devicons/devicon, pull requests merged in 2022-03, with the labels that each got.

#970 Update the `check-bot`
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/build_assets/filehandler.py
  .github/scripts/build_assets/util.py
  .github/scripts/check_icon_pr.py
  .github/scripts/check_svgs_on_pr.py
  .github/scripts/icomoon_peek.py
  .github/workflows/check_icon_pr.yml
  .github/workflows/post_check_icon_pr_comment.yml
  gulpfile.js
Labels: enhancement, devops

#1058 New Feature: Changed to select all rather before take a pic
  .github/scripts/build_assets/selenium_runner/BuildSeleniumRunner.py
Labels: enhancement, devops

#1059 Fix the peek bot cmd line args
  .github/workflows/peek_icons.yml
Labels: enhancement, devops

#1063 new feature: fix invalid function name
  .github/scripts/build_assets/filehandler.py
  .github/scripts/check_icon_pr.py
Labels: enhancement, devops

#1044 update icon: bitbucket (original, original-wordmark)
  icons/bitbucket/bitbucket-original-wordmark.svg
  icons/bitbucket/bitbucket-original.svg
Labels: feature:icon, bot:peek

#1061 new icon: bamboo (original, original-wordmark)
  devicon.json
  icons/bamboo/bamboo-original-wordmark.svg
  icons/bamboo/bamboo-original.svg
Labels: feature:icon, bot:peek

#1064 new icon: terraform (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/terraform/terraform-original-wordmark.svg
  icons/terraform/terraform-original.svg
  icons/terraform/terraform-plain-wordmark.svg
  icons/terraform/terraform-plain.svg
Labels: feature:icon, bot:peek

#1062 update icon: jira (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/jira/jira-original-wordmark.svg
  icons/jira/jira-original.svg
  icons/jira/jira-plain-wordmark.svg
  icons/jira/jira-plain.svg
Labels: feature:icon, bot:peek

#1069 Add fix for bad zip file and logging for build
  .github/scripts/build_assets/api_handler.py
  .github/scripts/build_assets/filehandler.py
  .github/scripts/build_assets/selenium_runner/BuildSeleniumRunner.py
  .github/scripts/build_assets/selenium_runner/PeekSeleniumRunner.py
  .github/scripts/build_assets/selenium_runner/SeleniumRunner.py
  .github/scripts/build_assets/util.py
  .github/scripts/icomoon_build.py
  .github/workflows/build_icons.yml
  gulpfile.js
Labels: enhancement, devops

#1075 new icon: gentoo (plain, plain-wordmark)
  devicon.json
  icons/gentoo/gentoo-plain-wordmark.svg
  icons/gentoo/gentoo-plain.svg
Labels: feature:icon, bot:peek

#1070 new icon: webflow (plain, original)
  devicon.json
  icons/webflow/webflow-original.svg
Labels: feature:icon, bot:peek

#1076 new icon: opensuse (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/opensuse/opensuse-original-wordmark.svg
  icons/opensuse/opensuse-original.svg
  icons/opensuse/opensuse-plain-wordmark.svg
  icons/opensuse/opensuse-plain.svg
Labels: feature:icon, bot:peek

#1083 fix npm publish workflow
  .github/workflows/npm_publish.yml
Labels: devops

#1084 Fix issue with npm publish script
  .github/workflows/npm_publish.yml
Labels: devops

#1089 Fix checkbot's check version issue
  .github/scripts/build_assets/util.py
  .github/scripts/check_icon_pr.py
Labels: devops

#1095 update icon: opensuse (original, original-wordmark, plain, plain-wordmark)
  icons/opensuse/opensuse-original-wordmark.svg
  icons/opensuse/opensuse-original.svg
  icons/opensuse/opensuse-plain-wordmark.svg
  icons/opensuse/opensuse-plain.svg
Labels: feature:icon, bot:peek

#1086 new icon: ghost (original, original-wordmark)
  devicon.json
  icons/ghost/ghost-original-wordmark.svg
  icons/ghost/ghost-original.svg
Labels: feature:icon, bot:peek

#1096 new icon: emacs (plain)
  devicon.json
  icons/emacs/emacs-original.svg
Labels: feature:icon, bot:peek

#1087 new icon: Axios (plain,plain-wordmark)
  devicon.json
  icons/axios/axios-plain-wordmark.svg
  icons/axios/axios-plain.svg
Labels: feature:icon, bot:peek

#1088 new icon: archlinux (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/archlinux/archlinux-original-wordmark.svg
  icons/archlinux/archlinux-original.svg
  icons/archlinux/archlinux-plain-wordmark.svg
  icons/archlinux/archlinux-plain.svg
Labels: feature:icon, bot:peek

#1097 new icon: cypressio (original, original-wordmark)
  devicon.json
  icons/cypressio/cypressio-original-wordmark.svg
  icons/cypressio/cypressio-original.svg
Labels: feature:icon, bot:peek

#1101 new icon: clion (plain, plain-wordmark)
  devicon.json
  icons/clion/clion-plain-wordmark.svg
  icons/clion/clion-plain.svg
Labels: feature:icon, bot:peek

#1102 new icon: mongoose (original, original-wordmark)
  devicon.json
  icons/mongoose/mongoose-original-wordmark.svg
  icons/mongoose/mongoose-original.svg
Labels: feature:icon, bot:peek

#1094 new icon: sanity (original)
  devicon.json
  icons/sanity/sanity-original.svg
  icons/sanity/sanity-plain.svg
Labels: feature:icon, bot:peek

#1098 new icon: fortran (original)
  devicon.json
  icons/fortran/fortran-original.svg
Labels: feature:icon, bot:peek

#1105 new icon: portainer (original, original-wordmark)
  devicon.json
  icons/portainer/portainer-original-wordmark.svg
  icons/portainer/portainer-original.svg
Labels: feature:icon, bot:peek

#1112 new icon: vertx (original, original-wordmark)
  devicon.json
  icons/vertx/vertx-original-wordmark.svg
  icons/vertx/vertx-original.svg
Labels: feature:icon, bot:peek

#1100 new icon: ros (original, original-wordmark)
  devicon.json
  icons/ros/ros-original-wordmark.svg
  icons/ros/ros-original.svg
Labels: feature:icon, bot:peek

#1110 new icon: openapi (original, original-wordmark)
  devicon.json
  icons/openapi/openapi-original-wordmark.svg
  icons/openapi/openapi-original.svg
Labels: feature:icon, bot:peek

#1108 new icon: jekyll (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/jekyll/jekyll-original-wordmark.svg
  icons/jekyll/jekyll-original.svg
  icons/jekyll/jekyll-plain-wordmark.svg
  icons/jekyll/jekyll-plain.svg
Labels: feature:icon, bot:peek

#1109 new icon: contao (original, original-wordmark)
  devicon.json
  icons/contao/contao-original-wordmark.svg
  icons/contao/contao-original.svg
Labels: feature:icon, bot:peek

#1103 new icon: maven (plain, plain-wordmark, original, original-wordmark)
  devicon.json
  icons/maven/maven-original-wordmark.svg
  icons/maven/maven-original.svg
  icons/maven/maven-plain-wordmark.svg
  icons/maven/maven-plain.svg
Labels: feature:icon, bot:peek

#1115 new icon: scalingo (original, original-wordmark)
  devicon.json
  icons/scalingo/scalingo-original-wordmark.svg
  icons/scalingo/scalingo-original.svg
Labels: feature:icon, bot:peek

#1106 new icon: rider (original, plain-wordmark)
  devicon.json
  icons/rider/rider-original.svg
  icons/rider/rider-plain-wordmark.svg
  icons/rider/rider-plain.svg
Labels: feature:icon, bot:peek

#1116 new icon: purescript (original, original-wordmark)
  devicon.json
  icons/purescript/purescript-original-wordmark.svg
  icons/purescript/purescript-original.svg
Labels: feature:icon, bot:peek

#1118 new icon: xml (original)
  devicon.json
  icons/xml/xml-original.svg
Labels: feature:icon, bot:peek

#1120 new icon: rancher (original, original-wordmark)
  devicon.json
  icons/rancher/rancher-original-wordmark.svg
  icons/rancher/rancher-original.svg
Labels: feature:icon, bot:peek

#1117 new icon: junit (original, original-wordmark)
  devicon.json
  icons/junit/junit-original-wordmark.svg
  icons/junit/junit-original.svg
Labels: feature:icon, bot:peek

#1122 new icon: harvester (original, original-wordmark)
  devicon.json
  icons/harvester/harvester-original-wordmark.svg
  icons/harvester/harvester-original.svg
Labels: feature:icon, bot:peek
