Repository devicons/devicon, pull requests merged in 2022-01, with the labels that each got.

#996 New Feature: Add images for the wiki and edit links to point to it
  CONTRIBUTING.md
  README.md
  docs/wiki/import_icomoon.PNG
  docs/wiki/issue_form.png
  docs/wiki/organization_rule.PNG
  docs/wiki/svg_standards.PNG
Labels: enhancement

#1005 New Feature: Small fixes to the templates and wiki image
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/ISSUE_TEMPLATE/other.yml
  .github/PULL_REQUEST_TEMPLATE/new_icon.md
  docs/wiki/issue_form.png
Labels: enhancement

#1008 new icon: maya (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/maya/maya-original-wordmark.svg
  icons/maya/maya-original.svg
  icons/maya/maya-plain-wordmark.svg
  icons/maya/maya-plain.svg
  icons/maya/maya.eps
Labels: feature:icon, bot:peek

#1010 new icon: xcode (original, plain)
  devicon.json
  icons/xcode/xcode-original.svg
  icons/xcode/xcode-plain.svg
  icons/xcode/xcode.eps
Labels: feature:icon, bot:peek

#1011 new icon: selenium (original)
  devicon.json
  icons/selenium/selenium-original.svg
  icons/selenium/selenium.eps
Labels: feature:icon, bot:peek

#1013 new icon: pytorch (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/pytorch/pytorch-original-wordmark.svg
  icons/pytorch/pytorch-original.svg
  icons/pytorch/pytorch-plain-wordmark.svg
  icons/pytorch/pytorch.eps
Labels: feature:icon, bot:peek

#1014 new icon: xamarin (original, original-wordmark)
  devicon.json
  icons/xamarin/xamarin-original-wordmark.svg
  icons/xamarin/xamarin-original.svg
  icons/xamarin/xamarin.eps
Labels: feature:icon, bot:peek

#1012 new icon: ifttt (original)
  devicon.json
  icons/ifttt/ifttt-original.svg
  icons/ifttt/ifttt.eps
Labels: feature:icon, bot:peek

#1015 new icon: hugo (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/hugo/hugo-original-wordmark.svg
  icons/hugo/hugo-original.svg
  icons/hugo/hugo-plain-wordmark.svg
  icons/hugo/hugo-plain.svg
  icons/hugo/hugo.eps
Labels: feature:icon, bot:peek

#1017 new icon: grafana (original, original-wordmark)
  devicon.json
  icons/grafana/grafana-original-wordmark.svg
  icons/grafana/grafana-original.svg
  icons/grafana/grafana.eps
Labels: feature:icon, bot:peek

#1019 new icon: ansible (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/ansible/ansible-original-wordmark.svg
  icons/ansible/ansible-original.svg
  icons/ansible/ansible-plain-wordmark.svg
  icons/ansible/ansible-plain.svg
  icons/ansible/ansible.eps
Labels: feature:icon, bot:peek

#1020 new icon: shotgrid (original, original-wordmark, plain)
  devicon.json
  icons/shotgrid/shotgrid-original-wordmark.svg
  icons/shotgrid/shotgrid-original.svg
  icons/shotgrid/shotgrid-plain.svg
  icons/shotgrid/shotgrid.eps
Labels: feature:icon, bot:peek

#1021 new icon: androidstudio (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/androidstudio/androidstudio-original-wordmark.svg
  icons/androidstudio/androidstudio-original.svg
  icons/androidstudio/androidstudio-plain-wordmark.svg
  icons/androidstudio/androidstudio-plain.svg
  icons/androidstudio/androidstudio.eps
Labels: feature:icon, bot:peek

#1022 new icon: eslint (original, original-wordmark)
  devicon.json
  icons/eslint/eslint-original-wordmark.svg
  icons/eslint/eslint-original.svg
  icons/eslint/eslint.eps
Labels: feature:icon, bot:peek

#1023 new icon: latex (original)
  devicon.json
  icons/latex/latex-original.svg
  icons/latex/latex.eps
Labels: feature:icon, bot:peek

#980 Upgrade Website
  docs/assets/css/style.css
  docs/assets/img/checkerboard.png
  docs/assets/img/color_wheel.png
  docs/assets/img/copy.svg
  docs/assets/js/script.js
  docs/index.html
Labels: enhancement, devops

#990 New Feature: Add an Issue `in-develop` labeler and functions to close these issues
  .github/scripts/build_assets/api_handler.py
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/icomoon_build.py
  .github/scripts/in_develop_labeler.py
  .github/workflows/build_icons.yml
  .github/workflows/in_develop_labeler.yml
Labels: enhancement, devops
