Repository devicons/devicon, pull requests merged in 2022-09, with the labels that each got.

#1364 Add editorconfig file and cleanup `devicon.json` bad formatting
  .editorconfig
  devicon.json
Labels: devops

#1373 new icon: sema (original, original-wordmark)
  devicon.json
  icons/sema/sema-original-wordmark.svg
  icons/sema/sema-original.svg
Labels: feature:icon, bot:peek

#1367 docs: improve contributing deprecation notice
  CONTRIBUTING.md
Labels: enhancement

#1372 new icon: gitpod (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/gitpod/gitpod-original-wordmark.svg
  icons/gitpod/gitpod-original.svg
  icons/gitpod/gitpod-plain-wordmark.svg
  icons/gitpod/gitpod-plain.svg
Labels: feature:icon, bot:peek

#1381 Minor template/stale message improvements
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/ISSUE_TEMPLATE/other.yml
  .github/PULL_REQUEST_TEMPLATE/new_feature.md
  .github/drafts/stale.yml
  .github/pull_request_template.md
Labels: enhancement

#1380 new icon: reach (original, plain)
  devicon.json
  icons/reach/reach-original.svg
  icons/reach/reach-plain.svg
Labels: feature:icon, bot:peek
