Repository devicons/devicon, pull requests merged in 2022-08, with the labels that each got.

#1309 new icon: json (original, plain)
  devicon.json
  icons/json/json-original.svg
  icons/json/json-plain.svg
  icons/json/json.eps
Labels: feature:icon, bot:peek

#1322 new icon: qodana (original, plain, plain-wordmark)
  devicon.json
  icons/qodana/qodana-original.svg
  icons/qodana/qodana-plain-wordmark.svg
  icons/qodana/qodana-plain.svg
Labels: feature:icon, bot:peek

#1240 new icon: angular (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/angular/angular-original-wordmark.svg
  icons/angular/angular-original.svg
  icons/angular/angular-plain-wordmark.svg
  icons/angular/angular-plain.svg
Labels: feature:icon

#1238 new icon: opentelemetry (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/opentelemetry/opentelemetry-original-wordmark.svg
  icons/opentelemetry/opentelemetry-original.svg
  icons/opentelemetry/opentelemetry-plain-wordmark.svg
  icons/opentelemetry/opentelemetry-plain.svg
Labels: feature:icon, bot:peek

#1261 new icon: apachespark (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/apachespark/apachespark-original-wordmark.svg
  icons/apachespark/apachespark-original.svg
  icons/apachespark/apachespark-plain-wordmark.svg
  icons/apachespark/apachespark-plain.svg
Labels: feature:icon, bot:peek

#1320 new icon: fastify (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/fastify/fastify-original-wordmark.svg
  icons/fastify/fastify-original.svg
  icons/fastify/fastify-plain-wordmark.svg
  icons/fastify/fastify-plain.svg
  icons/fastify/fastify.eps
Labels: feature:icon, bot:peek

#1241 new icon: unifiedmodelinglanguage (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/unifiedmodelinglanguage/unifiedmodelinglanguage-original-wordmark.svg
  icons/unifiedmodelinglanguage/unifiedmodelinglanguage-original.svg
  icons/unifiedmodelinglanguage/unifiedmodelinglanguage-plain-wordmark.svg
  icons/unifiedmodelinglanguage/unifiedmodelinglanguage-plain.svg
Labels: feature:icon, bot:peek

#1312 new icon: awk (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/awk/awk-original-wordmark.svg
  icons/awk/awk-plain-wordmark.svg
Labels: feature:icon, bot:peek

#1236 new icon: karatelabs (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/karatelabs/karatelabs-original-wordmark.svg
  icons/karatelabs/karatelabs-original.svg
  icons/karatelabs/karatelabs-plain-wordmark.svg
  icons/karatelabs/karatelabs-plain.svg
Labels: feature:icon, bot:peek

#1266 new icon: quasar (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/quasar/quasar-original-wordmark.svg
  icons/quasar/quasar-original.svg
  icons/quasar/quasar-plain-wordmark.svg
  icons/quasar/quasar-plain.svg
Labels: feature:icon, bot:peek

#1245 new icon: dbeaver (original, plain)
  devicon.json
  icons/dbeaver/dbeaver-original.svg
  icons/dbeaver/dbeaver-plain.svg
Labels: feature:icon, bot:peek

#1244 new icon: sqldeveloper (original, plain)
  devicon.json
  icons/sqldeveloper/sqldeveloper-original.svg
  icons/sqldeveloper/sqldeveloper-plain.svg
Labels: feature:icon, bot:peek

#1321 new icon: ktor (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/ktor/ktor-original-wordmark.svg
  icons/ktor/ktor-original.svg
  icons/ktor/ktor-plain-wordmark.svg
  icons/ktor/ktor-plain.svg
Labels: feature:icon, bot:peek, awaiting triage

#1291 update icon: clion (original, plain, plain-wordmark)
  devicon.json
  icons/clion/clion-original-wordmark.svg
  icons/clion/clion-original.svg
  icons/clion/clion-plain-wordmark.svg
  icons/clion/clion-plain.svg
Labels: feature:icon, bot:peek

#1265 new icon: faunadb (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/faunadb/faunadb-line-wordmark.svg
  icons/faunadb/faunadb-line.svg
  icons/faunadb/faunadb-original-wordmark.svg
  icons/faunadb/faunadb-original.svg
Labels: feature:icon, bot:peek

#1331 Bugfix/replace code of conduct content with link
  CODE_OF_CONDUCT.md
Labels: bug

#1239 new icon: quarkus (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/quarkus/quarkus-original-wordmark.svg
  icons/quarkus/quarkus-original.svg
  icons/quarkus/quarkus-plain-wordmark.svg
  icons/quarkus/quarkus-plain.svg
Labels: feature:icon, bot:peek

#1347 Improve the Discord community text
  README.md
Labels: enhancement

#1323 new icon: matplotlib (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/matplotlib/matplotlib-original-wordmark.svg
  icons/matplotlib/matplotlib-original.svg
  icons/matplotlib/matplotlib-plain-wordmark.svg
  icons/matplotlib/matplotlib-plain.svg
  icons/matplotlib/matplotlib.eps
Labels: feature:icon, bot:peek, awaiting triage

#1313 new icon: dataspell (original, plain, plain-wordmark)
  devicon.json
  icons/dataspell/dataspell-original-wordmark.svg
  icons/dataspell/dataspell-original.svg
  icons/dataspell/dataspell-plain-wordmark.svg
  icons/dataspell/dataspell-plain.svg
Labels: feature:icon, bot:peek

#1317 update icon: webstorm (original, plain, plain-wordmark)
  devicon.json
  icons/webstorm/webstorm-original-wordmark.svg
  icons/webstorm/webstorm-original.svg
  icons/webstorm/webstorm-plain-wordmark.svg
  icons/webstorm/webstorm-plain.svg
  icons/webstorm/webstorm.eps
Labels: feature:icon, bot:peek

#1318 update icon: rubymine (original, plain, plain-wordmark)
  devicon.json
  icons/rubymine/rubymine-original-wordmark.svg
  icons/rubymine/rubymine-original.svg
  icons/rubymine/rubymine-plain-wordmark.svg
  icons/rubymine/rubymine-plain.svg
  icons/rubymine/rubymine.eps
Labels: feature:icon, bot:peek

#1319 update icon: pycharm (original, plain, plain-wordmark)
  devicon.json
  icons/pycharm/pycharm-original-wordmark.svg
  icons/pycharm/pycharm-original.svg
  icons/pycharm/pycharm-plain-wordmark.svg
  icons/pycharm/pycharm-plain.svg
  icons/pycharm/pycharm.eps
Labels: feature:icon, bot:peek

#1316 update icon: rider (original, plain, plain-wordmark)
  devicon.json
  icons/rider/rider-original-wordmark.svg
  icons/rider/rider-original.svg
  icons/rider/rider-plain-wordmark.svg
  icons/rider/rider-plain.svg
Labels: feature:icon, bot:peek

#1227 new icon: hibernate (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/hibernate/hibernate-original-wordmark.svg
  icons/hibernate/hibernate-original.svg
  icons/hibernate/hibernate-plain-wordmark.svg
  icons/hibernate/hibernate-plain.svg
Labels: feature:icon, bot:peek

#1310 new icon: nano (original, original-wordmark)
  devicon.json
  icons/nano/nano-original-wordmark.svg
  icons/nano/nano-original.svg
Labels: feature:icon, bot:peek

#1346 new icon: norg (original, plain)
  devicon.json
  icons/norg/norg-original.svg
  icons/norg/norg-plain.svg
Labels: feature:icon

#1350 new icon: astro (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/astro/astro-original-wordmark.svg
  icons/astro/astro-original.svg
  icons/astro/astro-plain-wordmark.svg
  icons/astro/astro-plain.svg
Labels: feature:icon, bot:peek

#1362 Improve the `README.md` file
  README.md
Labels: enhancement
