Repository devicons/devicon, pull requests merged in 2022-10, with the labels that each got.

#1404 update icon: gitlab (original, original-wordmark, plain, plain-wordmark)
  icons/gitlab/gitlab-original-wordmark.svg
  icons/gitlab/gitlab-original.svg
  icons/gitlab/gitlab-plain-wordmark.svg
  icons/gitlab/gitlab-plain.svg
  icons/gitlab/gitlab.eps
Labels: feature:icon, bot:peek

#1386 new icon: cosmosdb (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/cosmosdb/cosmosdb-original-wordmark.svg
  icons/cosmosdb/cosmosdb-original.svg
  icons/cosmosdb/cosmosdb-plain-wordmark.svg
  icons/cosmosdb/cosmosdb-plain.svg
Labels: feature:icon, bot:peek

#1392 new icon: renpy (original, plain)
  devicon.json
  icons/renpy/renpy-original.svg
  icons/renpy/renpy-plain.svg
Labels: feature:icon, bot:peek

#1396 new icon: pyscript (original-wordmark, plain-wordmark)
  devicon.json
  icons/pyscript/pyscript-original-wordmark.svg
  icons/pyscript/pyscript-plain-wordmark.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1416 Improve the feature request template
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: enhancement, hacktoberfest-accepted

#1393 new icon: clarity (original, plain)
  devicon.json
  icons/clarity/clarity-original-wordmark.svg
  icons/clarity/clarity-original.svg
  icons/clarity/clarity-plain-wordmark.svg
  icons/clarity/clarity-plain.svg
Labels: feature:icon, bot:peek

#1419 new icon: vercel (original, original-wordmark)
  devicon.json
  icons/vercel/vercel-original-wordmark.svg
  icons/vercel/vercel-original.svg
Labels: feature:icon, bot:peek

#1397 new icon: vala (original, plain, plain-wordmark)
  devicon.json
  icons/vala/vala-original-wordmark.svg
  icons/vala/vala-original.svg
  icons/vala/vala-plain-wordmark.svg
  icons/vala/vala-plain.svg
Labels: feature:icon, bot:peek

#1412 new icon: apacheairflow (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/apacheairflow/apacheairflow-original-wordmark.svg
  icons/apacheairflow/apacheairflow-original.svg
  icons/apacheairflow/apacheairflow-plain-wordmark.svg
  icons/apacheairflow/apacheairflow-plain.svg
Labels: feature:icon, bot:peek

#1413 new icon: realm (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/realm/realm-original-wordmark.svg
  icons/realm/realm-original.svg
  icons/realm/realm-plain-wordmark.svg
  icons/realm/realm-plain.svg
Labels: feature:icon, bot:peek

#1415 new icon: livewire (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/livewire/livewire-original-wordmark.svg
  icons/livewire/livewire-original.svg
  icons/livewire/livewire-plain-wordmark.svg
  icons/livewire/livewire-plain.svg
Labels: feature:icon, bot:peek

#1400 new icon: stata (original-wordmark)
  devicon.json
  icons/stata/stata-original-wordmark.svg
Labels: feature:icon, bot:peek

#1401 new icon: vyper (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/vyper/vyper-original-wordmark.svg
  icons/vyper/vyper-original.svg
  icons/vyper/vyper-plain-wordmark.svg
  icons/vyper/vyper-plain.svg
Labels: feature:icon, bot:peek

#1402 new icon: apl (original, plain)
  devicon.json
  icons/apl/apl-original.svg
  icons/apl/apl-plain.svg
Labels: feature:icon, bot:peek

#1408 new icon: cairo (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/cairo/cairo-original-wordmark.svg
  icons/cairo/cairo-original.svg
  icons/cairo/cairo-plain-wordmark.svg
  icons/cairo/cairo-plain.svg
Labels: feature:icon, bot:peek

#1428 new icon: llvm (original, plain)
  devicon.json
  icons/llvm/llvm-original.svg
  icons/llvm/llvm-plain.svg
Labels: feature:icon, bot:peek

#1435 new icon: qwik (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/qwik/qwik-original-wordmark.svg
  icons/qwik/qwik-original.svg
  icons/qwik/qwik-plain-wordmark.svg
  icons/qwik/qwik-plain.svg
Labels: feature:icon, bot:peek

#1431 new icon: akka (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/akka/akka-original-wordmark.svg
  icons/akka/akka-original.svg
  icons/akka/akka-plain-wordmark.svg
  icons/akka/akka-plain.svg
Labels: feature:icon, bot:peek

#1437 new icon: playwright (original, plain)
  devicon.json
  icons/playwright/playwright-original.svg
  icons/playwright/playwright-plain.svg
Labels: feature:icon, bot:peek

#1454 Bugfix/fix in devicon.json
  devicon.json
Labels: bug

#1447 new icon: influxdb (original, original-wordmark)
  devicon.json
  icons/influxdb/influxdb-original-wordmark.svg
  icons/influxdb/influxdb-original.svg
Labels: feature:icon, bot:peek
