Repository devicons/devicon, pull requests merged in 2022-12, with the labels that each got.

#1457 new icon: tauri (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/tauri/tauri-original-wordmark.svg
  icons/tauri/tauri-original.svg
  icons/tauri/tauri-plain-wordmark.svg
  icons/tauri/tauri-plain.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1472 new icon: vite (original, original-wordmark)
  devicon.json
  icons/vite/vite-original-wordmark.svg
  icons/vite/vite-original.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1524 update icon: vscode (original, plain, original-wordmark, plain-wordmark)
  icons/vscode/vscode-original-wordmark.svg
  icons/vscode/vscode-original.svg
  icons/vscode/vscode-plain-wordmark.svg
  icons/vscode/vscode-plain.svg
Labels: feature:icon, bot:peek

#1533 update icon: yii (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/yii/yii-original-wordmark.svg
  icons/yii/yii-original.svg
  icons/yii/yii-plain-wordmark.svg
  icons/yii/yii-plain.svg
  icons/yii/yii.eps
Labels: feature:icon, bot:peek

#1473 new icon: vitejs (original, plain)
  devicon.json
  icons/vitejs/vitejs-original.svg
  icons/vitejs/vitejs-plain.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1527 update icon: apache (original, plain, line, original-wordmark, plain-wordmark, line-wordmark)
  devicon.json
  icons/apache/apache-line-wordmark.svg
  icons/apache/apache-line.svg
  icons/apache/apache-original-wordmark.svg
  icons/apache/apache-original.svg
  icons/apache/apache-plain-wordmark.svg
  icons/apache/apache-plain.svg
  icons/apache/apache.eps
Labels: feature:icon, bot:peek

#1561 new icon: swagger (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/swagger/swagger-original-wordmark.svg
  icons/swagger/swagger-original.svg
  icons/swagger/swagger-plain-wordmark.svg
  icons/swagger/swagger-plain.svg
Labels: feature:icon, bot:peek

#1487 add feature: vs code intellisense to `devicon.json`
  .vscode/devicon-schema.json
  .vscode/devicon.code-snippets
  .vscode/settings.json
  .vscode/tags-enum.json
Labels: enhancement, devops

#1363 new icon: materializecss (original, plain)
  devicon.json
  icons/materializecss/materializecss-original.svg
  icons/materializecss/materializecss-plain.svg
Labels: feature:icon, bot:peek

#1407 new icon: djangorest (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/djangorest/djangorest-line-wordmark.svg
  icons/djangorest/djangorest-line.svg
  icons/djangorest/djangorest-original-wordmark.svg
  icons/djangorest/djangorest-original.svg
  icons/djangorest/djangorest-plain-wordmark.svg
  icons/djangorest/djangorest-plain.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1448 new icon: yaml (original, plain)
  devicon.json
  icons/yaml/yaml-original.svg
  icons/yaml/yaml-plain.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1449 new icon: tex (original)
  devicon.json
  icons/tex/tex-original.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1451 new icon: reactbootstrap (original)
  devicon.json
  icons/reactbootstrap/reactbootstrap-original.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1452 new icon: knexjs (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/knexjs/knexjs-original-wordmark.svg
  icons/knexjs/knexjs-original.svg
  icons/knexjs/knexjs-plain-wordmark.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1488 new icon: hadoop (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/hadoop/hadoop-original-wordmark.svg
  icons/hadoop/hadoop-original.svg
  icons/hadoop/hadoop-plain-wordmark.svg
  icons/hadoop/hadoop-plain.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1501 update icon: jira (plain,plain-wordmark)
  icons/jira/jira-plain-wordmark.svg
  icons/jira/jira-plain.svg
Labels: bug, feature:icon, bot:peek

#1537 update icon: kaggle (original-wordmark)
  icons/kaggle/kaggle-original-wordmark.svg
  icons/kaggle/kaggle-original.svg
Labels: feature:icon, bot:peek

#1538 update icon: grails (original, plain)
  devicon.json
  icons/grails/grails-original.svg
  icons/grails/grails-plain.svg
Labels: feature:icon, bot:peek

#1539 update icon: ember (original, original-wordmark, plain)
  devicon.json
  icons/ember/ember-original-wordmark.svg
  icons/ember/ember-original.svg
  icons/ember/ember-plain.svg
Labels: feature:icon, bot:peek

#1558 new icon: cassandra (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/cassandra/cassandra-original-wordmark.svg
  icons/cassandra/cassandra-original.svg
  icons/cassandra/cassandra-plain-wordmark.svg
  icons/cassandra/cassandra-plain.svg
Labels: feature:icon, bot:peek

#1565 new icon: hardhat (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/hardhat/hardhat-original-wordmark.svg
  icons/hardhat/hardhat-original.svg
  icons/hardhat/hardhat-plain-wordmark.svg
  icons/hardhat/hardhat-plain.svg
Labels: feature:icon, bot:peek

#1536 update icon: safari (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  icons/safari/safari-line-wordmark.svg
  icons/safari/safari-line.svg
  icons/safari/safari-original-wordmark.svg
  icons/safari/safari-original.svg
  icons/safari/safari-plain-wordmark.svg
  icons/safari/safari-plain.svg
Labels: feature:icon, bot:peek

#1574 new icon: githubcodespaces (original, plain)
  devicon.json
  icons/githubcodespaces/githubcodespaces-original.svg
  icons/githubcodespaces/githubcodespaces-plain.svg
Labels: feature:icon, bot:peek

#1540 update icon: discordjs (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/discordjs/discordjs-original-wordmark.svg
  icons/discordjs/discordjs-original.svg
  icons/discordjs/discordjs-plain-wordmark.svg
  icons/discordjs/discordjs-plain.svg
Labels: feature:icon, bot:peek

#1332 Add alphabetical ordering of `devicon.json` to PR checklist
  .github/PULL_REQUEST_TEMPLATE/new_icon.md
  .github/workflows/post_peek_screenshot.yml
Labels: enhancement, devops, hacktoberfest-accepted

#1405 Feature/sort devicon json and add sort check
  .github/scripts/check_icon_pr.py
  devicon.json
Labels: enhancement, devops, hacktoberfest-accepted

#1462 new icon: bun (original)
  devicon.json
  icons/bun/bun-line.svg
  icons/bun/bun-original.svg
  icons/bun/bun-plain.svg
Labels: feature:icon, bot:peek

#1531 update icon: php (original, plain)
  devicon.json
  icons/php/php-original.svg
  icons/php/php-plain.svg
  icons/php/php.eps
Labels: feature:icon, bot:peek

#1581 update icon: rust (plain)
  icons/rust/rust-plain.svg
Labels: feature:icon, bot:peek

#1580 update icon: polygon (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/polygon/polygon-original-wordmark.svg
  icons/polygon/polygon-original.svg
  icons/polygon/polygon-plain-wordmark.svg
  icons/polygon/polygon-plain.svg
Labels: feature:icon, bot:peek
