Repository devicons/devicon, pull requests merged in 2022-07, with the labels that each got.

#1256 new icon: logstash (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/logstash/logstash-original-wordmark.svg
  icons/logstash/logstash-original.svg
  icons/logstash/logstash-plain-wordmark.svg
  icons/logstash/logstash-plain.svg
Labels: bot:peek

#1247 new icon: traefikproxy (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/traefikproxy/traefikproxy-line-wordmark.svg
  icons/traefikproxy/traefikproxy-line.svg
  icons/traefikproxy/traefikproxy-original-wordmark.svg
  icons/traefikproxy/traefikproxy-original.svg
  icons/traefikproxy/traefikproxy-plain-wordmark.svg
Labels: bot:peek

#1226 new icon: nhibernate (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/nhibernate/nhibernate-line-wordmark.svg
  icons/nhibernate/nhibernate-line.svg
  icons/nhibernate/nhibernate-original-wordmark.svg
  icons/nhibernate/nhibernate-original.svg
  icons/nhibernate/nhibernate-plain-wordmark.svg
  icons/nhibernate/nhibernate-plain.svg
Labels: feature:icon, bot:peek

#1255 new icon: elasticsearch (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/elasticsearch/elasticsearch-original-wordmark.svg
  icons/elasticsearch/elasticsearch-original.svg
  icons/elasticsearch/elasticsearch-plain-wordmark.svg
  icons/elasticsearch/elasticsearch-plain.svg
Labels: bot:peek

#1248 new icon: traefikmesh (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/traefikmesh/traefikmesh-line-wordmark.svg
  icons/traefikmesh/traefikmesh-line.svg
  icons/traefikmesh/traefikmesh-original-wordmark.svg
  icons/traefikmesh/traefikmesh-original.svg
  icons/traefikmesh/traefikmesh-plain-wordmark.svg
Labels: bot:peek

#1242 fix: add `original-wordmark` aliases for Liquibase
  devicon.json
Labels: bug

#1237 new icon: postman (original, original-wordmark)
  devicon.json
  icons/postman/postman-original-wordmark.svg
  icons/postman/postman-original.svg
  icons/postman/postman-plain-wordmark.svg
  icons/postman/postman-plain.svg
Labels: bot:peek

#1268 update icon: vuetify (original, plain, line)
  icons/vuetify/vuetify-line.svg
  icons/vuetify/vuetify-original.svg
  icons/vuetify/vuetify-plain.svg
Labels: bot:peek

#1269 update icon: amazonwebservices (original-wordmark, plain-wordmark, line-wordmark)
  devicon.json
  icons/amazonwebservices/amazonwebservices-line-wordmark.svg
  icons/amazonwebservices/amazonwebservices-original-wordmark.svg
  icons/amazonwebservices/amazonwebservices-original.svg
  icons/amazonwebservices/amazonwebservices-plain-wordmark.svg
  icons/amazonwebservices/amazonwebservices.eps
Labels: bot:peek

#1270 update icon: cplusplus (original, plain, line)
  devicon.json
  icons/cplusplus/cplusplus-line.svg
  icons/cplusplus/cplusplus-original.svg
  icons/cplusplus/cplusplus-plain.svg
  icons/cplusplus/cplusplus.eps
Labels: bot:peek

#1273 update icon: unity (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/unity/unity-line-wordmark.svg
  icons/unity/unity-line.svg
  icons/unity/unity-original-wordmark.svg
  icons/unity/unity-original.svg
  icons/unity/unity-plain-wordmark.svg
  icons/unity/unity-plain.svg
Labels: bot:peek

#1243 new icon: poetry (original, plain)
  devicon.json
  icons/poetry/poetry-original.svg
  icons/poetry/poetry-plain.svg
Labels: bot:peek

#1294 update icon: phpstorm (original, plain, plain-wordmark)
  devicon.json
  icons/phpstorm/phpstorm-original-wordmark.svg
  icons/phpstorm/phpstorm-original.svg
  icons/phpstorm/phpstorm-plain-wordmark.svg
  icons/phpstorm/phpstorm-plain.svg
  icons/phpstorm/phpstorm.eps
Labels: bot:peek

#1288 new icon: lumen (original, plain)
  devicon.json
  icons/lumen/lumen-original.svg
Labels: bot:peek

#1297 new icon: ohmyzsh (original, plain)
  devicon.json
  icons/ohmyzsh/ohmyzsh-original.svg
  icons/ohmyzsh/ohmyzsh-plain.svg
  icons/ohmyzsh/ohmyzsh.eps
Labels: bot:peek

#1298 new icon: cloudflare (plain, plain-wordmark, original, original-wordmark)
  devicon.json
  icons/cloudflare/cloudflare-original-wordmark.svg
  icons/cloudflare/cloudflare-original.svg
  icons/cloudflare/cloudflare-plain-wordmark.svg
  icons/cloudflare/cloudflare-plain.svg
  icons/cloudflare/cloudflare.eps
Labels: bot:peek

#1290 new icon: azuresqldatabase (original, plain)
  devicon.json
  icons/azuresqldatabase/azuresqldatabase-original.svg
  icons/azuresqldatabase/azuresqldatabase-plain.svg
Labels: bot:peek

#1289 new icon: azuredevops (original, plain)
  devicon.json
  icons/azuredevops/azuredevops-original.svg
  icons/azuredevops/azuredevops-plain.svg
Labels: feature:icon, bot:peek

#1293 update icon: intellij (original, plain, plain-wordmark)
  devicon.json
  icons/intellij/intellij-original-wordmark.svg
  icons/intellij/intellij-original.svg
  icons/intellij/intellij-plain-wordmark.svg
  icons/intellij/intellij-plain.svg
  icons/intellij/intellij.eps
Labels: bot:peek

#1324 new icon: alpinejs (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/alpinejs/alpinejs-original-wordmark.svg
  icons/alpinejs/alpinejs-original.svg
  icons/alpinejs/alpinejs.eps
Labels: feature:icon, bot:peek

#1235 new icon: jaegertracing (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/jaegertracing/jaegertracing-original-wordmark.svg
  icons/jaegertracing/jaegertracing-original.svg
  icons/jaegertracing/jaegertracing-plain-wordmark.svg
  icons/jaegertracing/jaegertracing-plain.svg
Labels: feature:icon, bot:peek

#1292 new icon: datagrip (original, plain, plain-wordmark)
  devicon.json
  icons/datagrip/datagrip-original.svg
  icons/datagrip/datagrip-plain-wordmark.svg
  icons/datagrip/datagrip-plain.svg
Labels: feature:icon, bot:peek

#1296 new icon: moleculer (original, plain)
  devicon.json
  icons/moleculer/moleculer-original-wordmark.svg
  icons/moleculer/moleculer-original.svg
Labels: feature:icon

#1307 new icon: opencl (original, plain)
  devicon.json
  icons/opencl/opencl-original.svg
  icons/opencl/opencl.eps
Labels: feature:icon, bot:peek

#1315 update icon: kotlin (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/kotlin/kotlin-original-wordmark.svg
  icons/kotlin/kotlin-original.svg
  icons/kotlin/kotlin-plain-wordmark.svg
  icons/kotlin/kotlin-plain.svg
  icons/kotlin/kotlin.eps
Labels: feature:icon, bot:peek

#1314 new icon: goland (original, plain, plain-wordmark)
  devicon.json
  icons/goland/goland-original.svg
  icons/goland/goland-plain-wordmark.svg
  icons/goland/goland-plain.svg
Labels: feature:icon, bot:peek

#1228 new icon: envoy (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/envoy/envoy-original-wordmark.svg
  icons/envoy/envoy-original.svg
  icons/envoy/envoy-plain-wordmark.svg
  icons/envoy/envoy-plain.svg
Labels: feature:icon, bot:peek

#1333 updated links to contributing guidelines
  .github/PULL_REQUEST_TEMPLATE/new_icon.md
  .github/workflows/post_check_icon_pr_comment.yml
  .github/workflows/post_peek_screenshot.yml
Labels: bug

#1326 new icon: cloudflareworkers (plain, plain-wordmark, original, original-wordmark)
  devicon.json
  icons/cloudflareworkers/cloudflareworkers-original-wordmark.svg
  icons/cloudflareworkers/cloudflareworkers-original.svg
  icons/cloudflareworkers/cloudflareworkers-plain-wordmark.svg
  icons/cloudflareworkers/cloudflareworkers-plain.svg
  icons/cloudflareworkers/cloudflareworkers.eps
Labels: feature:icon, bot:peek
