Repository devicons/devicon, pull requests merged in 2023-02, with the labels that each got.

#1649 update icon: apachespark (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/apachespark/apachespark-original-wordmark.svg
  icons/apachespark/apachespark-original.svg
  icons/apachespark/apachespark-plain-wordmark.svg
  icons/apachespark/apachespark-plain.svg
Labels: feature:icon, bot:peek

#1433 new icon: splunk (original-wordmark)
  devicon.json
  icons/splunk/splunk-original-wordmark.svg
Labels: feature:icon, bot:peek, hacktoberfest-accepted

#1619 update icon: nano (original, plain, plain-wordmark)
  devicon.json
  icons/nano/nano-original-wordmark.svg
  icons/nano/nano-plain-wordmark.svg
  icons/nano/nano-plain.svg
Labels: feature:icon, bot:peek

#1667 (Hopefully) fix workflow error
  .github/workflows/build_icons.yml
Labels: devops

#1671 Fix token error
  .github/workflows/build_icons.yml
Labels: bug, devops

#1621 new icon: windows11 (original, original-wordmark)
  devicon.json
  icons/windows11/windows11-original-wordmark.svg
  icons/windows11/windows11-original.svg
Labels: feature:icon, bot:peek

#1590 update icon: jenkins (original, plain, line)
  icons/jenkins/jenkins-line.svg
  icons/jenkins/jenkins-original.svg
  icons/jenkins/jenkins-plain.svg
  icons/jenkins/jenkins.eps
Labels: feature:icon, bot:peek

#1513 new icon: insomnia (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/insomnia/insomnia-original-wordmark.svg
  icons/insomnia/insomnia-original.svg
  icons/insomnia/insomnia-plain-wordmark.svg
  icons/insomnia/insomnia-plain.svg
Labels: feature:icon, bot:peek

#1511 new icon: stackoverflow (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/stackoverflow/stackoverflow-line-wordmark.svg
  icons/stackoverflow/stackoverflow-line.svg
  icons/stackoverflow/stackoverflow-original-wordmark.svg
  icons/stackoverflow/stackoverflow-original.svg
  icons/stackoverflow/stackoverflow-plain-wordmark.svg
  icons/stackoverflow/stackoverflow-plain.svg
Labels: feature:icon, bot:peek

#1585 update icon: gcc (original, plain, line)
  devicon.json
  icons/gcc/gcc-line.svg
  icons/gcc/gcc-original.svg
  icons/gcc/gcc-plain.svg
Labels: feature:icon, bot:peek

#1686 new icon: browserstack (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/browserstack/browserstack-line-wordmark.svg
  icons/browserstack/browserstack-line.svg
  icons/browserstack/browserstack-original-wordmark.svg
  icons/browserstack/browserstack-original.svg
  icons/browserstack/browserstack-plain-wordmark.svg
  icons/browserstack/browserstack-plain.svg
Labels: feature:icon, bot:peek

#1685 new icon: homebrew (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/homebrew/homebrew-line-wordmark.svg
  icons/homebrew/homebrew-line.svg
  icons/homebrew/homebrew-original-wordmark.svg
  icons/homebrew/homebrew-original.svg
  icons/homebrew/homebrew-plain-wordmark.svg
  icons/homebrew/homebrew-plain.svg
Labels: feature:icon, bot:peek

#1554 add feature: svgo auto optimization to pull requests
  .github/scripts/svgo.config.js
  .github/workflows/optimize_icons.yml
Labels: enhancement, devops

#1669 Darken a bit the website colors
  docs/assets/css/style.css
  docs/assets/js/script.js
Labels: bug
