Repository devicons/devicon, pull requests merged in 2023-10, with the labels that each got.

#1813 new icon: spack (original, plain)
  devicon.json
  icons/spack/spack-original.svg
  icons/spack/spack-plain.svg
  icons/spack/spack.eps
Labels: feature:icon

#1820 new icon: netlify (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/netlify/netlify-original-wordmark.svg
  icons/netlify/netlify-original.svg
  icons/netlify/netlify-plain-wordmark.svg
  icons/netlify/netlify-plain.svg
Labels: feature:icon

#1819 new icon: vitest (original, plain)
  devicon.json
  icons/vitest/vitest-original.svg
  icons/vitest/vitest-plain.svg
Labels: feature:icon

#1844 new icon: k6 (Original)
  devicon.json
  icons/k6/k6-original.svg
Labels: hacktoberfest-accepted

#1885 new icon: ory (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/ory/ory-original-wordmark.svg
  icons/ory/ory-original.svg
Labels: hacktoberfest-accepted

#1882 new icon: Pulumi (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/pulumi/pulumi-original-wordmark.svg
  icons/pulumi/pulumi-original.svg
  icons/pulumi/pulumi-plain-wordmark.svg
  icons/pulumi/pulumi-plain.svg
Labels: hacktoberfest-accepted

#1919 new icon: replit (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/replit/replit-original-wordmark.svg
  icons/replit/replit-original.svg
  icons/replit/replit-plain-wordmark.svg
Labels: hacktoberfest-accepted

#1899 new icon: carbon (original)
  devicon.json
  icons/carbon/carbon-original.svg
Labels: hacktoberfest-accepted

#1839 new icon: jetpackcompose (original, original-wordmark,plain,plain-wordmark,line,line-wordmark)
  devicon.json
  icons/jetpackcompose/jetpackcompose-line-wordmark.svg
  icons/jetpackcompose/jetpackcompose-line.svg
  icons/jetpackcompose/jetpackcompose-original-wordmark.svg
  icons/jetpackcompose/jetpackcompose-original.svg
  icons/jetpackcompose/jetpackcompose-plain-wordmark.svg
  icons/jetpackcompose/jetpackcompose-plain.svg
Labels: feature:icon

#1922 Add swiper (original)
  devicon.json
  icons/swiper/swiper-original.svg
Labels: hacktoberfest-accepted

#1924 new icon: spyder (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/spyder/spyder-original-wordmark.svg
  icons/spyder/spyder-original.svg
  icons/spyder/spyder-plain-wordmark.svg
  icons/spyder/spyder-plain.svg
Labels: hacktoberfest-accepted

#1912 update icon: twitter (original)
  devicon.json
  icons/twitter/twitter-original.svg
Labels: help wanted, hacktoberfest-accepted

#1898 new icon: Pulsar (original, original-wordmark)
  devicon.json
  icons/pulsar/pulsar-original-wordmark.svg
  icons/pulsar/pulsar-original.svg
Labels: hacktoberfest-accepted

#1877 new icon: sentry (original, original-wordmark)
  devicon.json
  icons/sentry/sentry-original-wordmark.svg
  icons/sentry/sentry-original.svg
Labels: hacktoberfest-accepted

#1920 New Icon: Notion (Original)
  devicon.json
  icons/notion/notion-line.svg
  icons/notion/notion-original.svg
  icons/notion/notion-plain.svg
Labels: hacktoberfest-accepted

#1883 new icon: RxJS (original, plain)
  devicon.json
  icons/rxjs/rxjs-original.svg
  icons/rxjs/rxjs-plain.svg
Labels: hacktoberfest-accepted

#1825 new icon: yugabytedb (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/yugabytedb/yugabytedb-original-wordmark.svg
  icons/yugabytedb/yugabytedb-original.svg
  icons/yugabytedb/yugabytedb-plain-wordmark.svg
  icons/yugabytedb/yugabytedb-plain.svg
Labels: feature:icon
