Repository devicons/devicon, pull requests merged in 2023-03, with the labels that each got.

#1267 new feature: icons number
  README.md
  docs/assets/css/style.css
  docs/assets/js/script.js
  docs/index.html
Labels: enhancement, stale, hacktoberfest-accepted, website

#1630 new icon: readthedocs (original, original-wordmark, line)
  devicon.json
  icons/readthedocs/readthedocs-line.svg
  icons/readthedocs/readthedocs-original-wordmark.svg
  icons/readthedocs/readthedocs-original.svg
Labels: feature:icon, bot:peek

#1406 Feature/update check icon pr py
  .github/scripts/check_icon_pr.py
Labels: enhancement, devops, hacktoberfest-accepted

#1616 new icon: scikitlearn (original, plain, line)
  devicon.json
  icons/scikitlearn/scikitlearn-line.svg
  icons/scikitlearn/scikitlearn-original.svg
  icons/scikitlearn/scikitlearn-plain.svg
Labels: feature:icon, bot:peek

#1712 new icon: dreamweaver (original, plain, line)
  devicon.json
  icons/dreamweaver/dreamweaver-line.svg
  icons/dreamweaver/dreamweaver-original.svg
  icons/dreamweaver/dreamweaver-plain.svg
Labels: feature:icon, bot:peek
