Repository devicons/devicon, pull requests merged in 2023-04, with the labels that each got.

#1716 new icon: ecto (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/ecto/ecto-original-wordmark.svg
  icons/ecto/ecto-original.svg
  icons/ecto/ecto-plain-wordmark.svg
  icons/ecto/ecto.eps
Labels: feature:icon, bot:peek

#1724 Bugfix: Remove Optimize Icons workflow from develop branch
  .github/workflows/optimize_icons.yml
Labels: enhancement, devops

#1491 only check stroke for icons in devicon.json's font objects
  .github/scripts/build_assets/util.py
  .github/scripts/check_icon_pr.py
Labels: enhancement, devops, hacktoberfest-accepted

#1668 Major build improvements
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/build_assets/geckodriver-v0.30.0-win64/geckodriver.exe
  .github/scripts/build_assets/geckodriver-v0.32.2-win64/README.md
  .github/scripts/build_assets/geckodriver-v0.32.2-win64/geckodriver.exe
  .github/scripts/icomoon_build_githubless.py
  .github/workflows/peek_icons.yml
  .gitpod.dockerfile
  .gitpod.yml
  README.md
  devicon-base.css
  docs/assets/js/script.js
  docs/index.html
  fonts/devicon.eot
  fonts/devicon.svg
  fonts/devicon.ttf
  fonts/devicon.woff
  gulpfile.js
  icomoon.json
  icons/nano/nano-original-wordmark.svg
  package-lock.json
  package.json
Labels: enhancement, devops

#1666 new icon: pnpm (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/pnpm/pnpm-original-wordmark.svg
  icons/pnpm/pnpm-original.svg
  icons/pnpm/pnpm-plain-wordmark.svg
  icons/pnpm/pnpm-plain.svg
Labels: feature:icon, bot:peek

#1410 Bugfix/fix in develop labeler
  .github/scripts/build_assets/api_handler.py
  .github/scripts/build_assets/arg_getters.py
  .github/scripts/in_develop_labeler.py
  .github/workflows/in_develop_labeler.yml
  .github/workflows/in_develop_labeler_preflight.yml
Labels: bug, enhancement, devops, hacktoberfest-accepted

#1697 new icon: pypi (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/pypi/pypi-original-wordmark.svg
  icons/pypi/pypi-original.svg
  icons/pypi/pypi-plain-wordmark.svg
  icons/pypi/pypi-plain.svg
Labels: feature:icon, bot:peek

#1742 new icon: trpc (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/trpc/trpc-original-wordmark.svg
  icons/trpc/trpc-original.svg
  icons/trpc/trpc-plain-wordmark.svg
  icons/trpc/trpc-plain.svg
Labels: feature:icon, bot:peek, bot:check

#1747 Update labeler preflight to Ubuntu Latest
  .github/workflows/in_develop_labeler_preflight.yml
Labels: devops
