Repository devicons/devicon, pull requests merged in 2023-11, with the labels that each got.

#1959 update icon: handlebars (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/handlebars/handlebars-line-wordmark.svg
  icons/handlebars/handlebars-line.svg
  icons/handlebars/handlebars-original-wordmark.svg
  icons/handlebars/handlebars-original.svg
  icons/handlebars/handlebars.eps
Labels: feature:icon, hacktoberfest-accepted

#1960 update icon: yarn (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/yarn/yarn-line-wordmark.svg
  icons/yarn/yarn-line.svg
  icons/yarn/yarn-original-wordmark.svg
  icons/yarn/yarn-original.svg
  icons/yarn/yarn.eps
Labels: feature:icon, hacktoberfest-accepted

#1962 new icon: neovim (original, original-wordmark, plain , plain-wordmark, line, line-wordmark)
  devicon.json
  icons/neovim/neovim-line-wordmark.svg
  icons/neovim/neovim-line.svg
  icons/neovim/neovim-original-wordmark.svg
  icons/neovim/neovim-original.svg
  icons/neovim/neovim-plain-wordmark.svg
  icons/neovim/neovim-plain.svg
Labels: feature:icon, hacktoberfest-accepted

#1938 New Icon: Mithril (Original, Plain)
  devicon.json
  icons/mithril/mithril-line.svg
  icons/mithril/mithril-original.svg
Labels: feature:icon, hacktoberfest-accepted

#1932 new icon: Couchbase (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/couchbase/couchbase-original-wordmark.svg
  icons/couchbase/couchbase-original.svg
  icons/couchbase/couchbase-plain-wordmark.svg
Labels: feature:icon, hacktoberfest-accepted

#1961 update icon: aarch64 (original, plain, line)
  devicon.json
  icons/aarch64/aarch64-line.svg
  icons/aarch64/aarch64-original.svg
  icons/aarch64/aarch64-plain.svg
Labels: feature:icon, hacktoberfest-accepted

#1979 update icon: gimp (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/gimp/gimp-line-wordmark.svg
  icons/gimp/gimp-line.svg
  icons/gimp/gimp-original-wordmark.svg
  icons/gimp/gimp-original.svg
  icons/gimp/gimp-plain-wordmark.svg
  icons/gimp/gimp-plain.svg
  icons/gimp/gimp.eps
Labels: feature:icon

#1985 update icon: laravel (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/laravel/laravel-line-wordmark.svg
  icons/laravel/laravel-line.svg
  icons/laravel/laravel-original-wordmark.svg
  icons/laravel/laravel-original.svg
  icons/laravel/laravel-plain-wordmark.svg
  icons/laravel/laravel-plain.svg
  icons/laravel/laravel.eps
Labels: feature:icon

#1981 update icon: sonarqube (original, original-wordmark, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/sonarqube/sonarqube-line-wordmark.svg
  icons/sonarqube/sonarqube-line.svg
  icons/sonarqube/sonarqube-original-wordmark.svg
  icons/sonarqube/sonarqube-original.svg
  icons/sonarqube/sonarqube-plain-wordmark.svg
Labels: feature:icon

#1982 update icon: traefikmesh (original, original-wordmark, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/traefikmesh/traefikmesh-line-wordmark.svg
  icons/traefikmesh/traefikmesh-line.svg
  icons/traefikmesh/traefikmesh-original-wordmark.svg
  icons/traefikmesh/traefikmesh-original.svg
  icons/traefikmesh/traefikmesh-plain-wordmark.svg
Labels: feature:icon

#1983 update icon: traefikproxy (original, original-wordmark, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/traefikproxy/traefikproxy-line-wordmark.svg
  icons/traefikproxy/traefikproxy-line.svg
  icons/traefikproxy/traefikproxy-original-wordmark.svg
  icons/traefikproxy/traefikproxy-original.svg
  icons/traefikproxy/traefikproxy-plain-wordmark.svg
Labels: feature:icon

#1980 update icon: msdos (original, plain, line)
  devicon.json
  icons/msdos/msdos-line.svg
  icons/msdos/msdos-original.svg
  icons/msdos/msdos-plain.svg
Labels: feature:icon

#1992 update icon: crystal (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/crystal/crystal-line-wordmark.svg
  icons/crystal/crystal-line.svg
  icons/crystal/crystal-original-wordmark.svg
  icons/crystal/crystal-original.svg
Labels: feature:icon

#1994 update icon: unity (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  icons/unity/unity-line-wordmark.svg
  icons/unity/unity-line.svg
  icons/unity/unity-original-wordmark.svg
  icons/unity/unity-original.svg
  icons/unity/unity-plain-wordmark.svg
  icons/unity/unity-plain.svg
Labels: feature:icon

#1991 update icon: vercel (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/vercel/vercel-line-wordmark.svg
  icons/vercel/vercel-line.svg
  icons/vercel/vercel-original-wordmark.svg
  icons/vercel/vercel-original.svg
Labels: feature:icon

#1990 update icon: codepen (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/codepen/codepen-line-wordmark.svg
  icons/codepen/codepen-line.svg
  icons/codepen/codepen-original-wordmark.svg
  icons/codepen/codepen-original.svg
  icons/codepen/codepen-plain.svg
  icons/codepen/codepen.eps
Labels: feature:icon

#1999 bugfix/fix: `devicon.json` reference errors
  devicon.json
Labels: devops

#2005 update icon: digitalocean (original, original-wordmark)
  devicon.json
  icons/digitalocean/digitalocean-original-wordmark.svg
  icons/digitalocean/digitalocean-original.svg
  icons/digitalocean/digitalocean-plain-wordmark.svg
  icons/digitalocean/digitalocean-plain.svg
Labels: feature:icon

#2002 update icon: opensuse (original, original-wordmark)
  devicon.json
  icons/opensuse/opensuse-original-wordmark.svg
  icons/opensuse/opensuse-original.svg
  icons/opensuse/opensuse-plain-wordmark.svg
  icons/opensuse/opensuse-plain.svg
Labels: feature:icon

#2024 update icon: eslint (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/eslint/eslint-line-wordmark.svg
  icons/eslint/eslint-line.svg
  icons/eslint/eslint-original-wordmark.svg
  icons/eslint/eslint-original.svg
  icons/eslint/eslint-plain-wordmark.svg
  icons/eslint/eslint-plain.svg
  icons/eslint/eslint.eps
Labels: feature:icon

#2017 update icon: pandas (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/pandas/pandas-line-wordmark.svg
  icons/pandas/pandas-line.svg
  icons/pandas/pandas-original-wordmark.svg
  icons/pandas/pandas-original.svg
  icons/pandas/pandas-plain-wordmark.svg
  icons/pandas/pandas-plain.svg
Labels: feature:icon

#2022 update icon: nestjs (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/nestjs/nestjs-line-wordmark.svg
  icons/nestjs/nestjs-line.svg
  icons/nestjs/nestjs-original-wordmark.svg
  icons/nestjs/nestjs-original.svg
  icons/nestjs/nestjs-plain-wordmark.svg
  icons/nestjs/nestjs-plain.svg
  icons/nestjs/nestjs.eps
Labels: feature:icon

#2018 update icon: numpy (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/numpy/numpy-line-wordmark.svg
  icons/numpy/numpy-line.svg
  icons/numpy/numpy-original-wordmark.svg
  icons/numpy/numpy-original.svg
  icons/numpy/numpy-plain-wordmark.svg
  icons/numpy/numpy-plain.svg
Labels: feature:icon

#2014 update icon: rancher (original, original-wordmark, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/rancher/rancher-line-wordmark.svg
  icons/rancher/rancher-line.svg
  icons/rancher/rancher-original-wordmark.svg
  icons/rancher/rancher-original.svg
  icons/rancher/rancher-plain-wordmark.svg
Labels: feature:icon

#2006 update icon: gatsby (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/gatsby/gatsby-original-wordmark.svg
  icons/gatsby/gatsby-original.svg
  icons/gatsby/gatsby-plain-wordmark.svg
  icons/gatsby/gatsby-plain.svg
Labels: feature:icon

#2007 update icon: mysql (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/mysql/mysql-original-wordmark.svg
  icons/mysql/mysql-original.svg
  icons/mysql/mysql-plain-wordmark.svg
  icons/mysql/mysql-plain.svg
Labels: feature:icon

#2012 update icon: postcss (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/postcss/postcss-original-wordmark.svg
  icons/postcss/postcss-original.svg
  icons/postcss/postcss-plain-wordmark.svg
  icons/postcss/postcss-plain.svg
Labels: feature:icon

#2036 update icon: cypressio (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/cypressio/cypressio-line-wordmark.svg
  icons/cypressio/cypressio-line.svg
  icons/cypressio/cypressio-original-wordmark.svg
  icons/cypressio/cypressio-original.svg
  icons/cypressio/cypressio-plain-wordmark.svg
  icons/cypressio/cypressio-plain.svg
Labels: feature:icon

#2035 update icon: gatling (original, original-wordmark, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/gatling/gatling-line-wordmark.svg
  icons/gatling/gatling-line.svg
  icons/gatling/gatling-original-wordmark.svg
  icons/gatling/gatling-original.svg
  icons/gatling/gatling-plain-wordmark.svg
  icons/gatling/gatling-plain.svg
Labels: feature:icon

#2029 update icon: rust (original, line)
  devicon.json
  icons/rust/rust-line.svg
  icons/rust/rust-original.svg
  icons/rust/rust-plain.svg
Labels: feature:icon

#1929 new icon: blazor (original, plain, line)
  devicon.json
  icons/blazor/blazor-line.svg
  icons/blazor/blazor-original.svg
Labels: feature:icon, hacktoberfest-accepted
