Repository devicons/devicon, pull requests merged in 2023-01, with the labels that each got.

#1411 add feature:icon and enhancement labels automatically
  .github/pull_request_template.md
Labels: enhancement, devops, hacktoberfest-accepted

#1618 update icon: helm (original, line)
  devicon.json
  icons/helm/helm-line.svg
  icons/helm/helm-original.svg
Labels: feature:icon, bot:peek

#1617 new icon: keras (plain, plain-wordmark, line, line-wordmark, original-wordmark)
  devicon.json
  icons/keras/keras-line-wordmark.svg
  icons/keras/keras-line.svg
  icons/keras/keras-original-wordmark.svg
  icons/keras/keras-original.svg
  icons/keras/keras-plain-wordmark.svg
  icons/keras/keras-plain.svg
Labels: feature:icon, bot:peek

#1608 new icon: algolia (original, original-wordmark)
  devicon.json
  icons/algolia/algolia-original-wordmark.svg
  icons/algolia/algolia-original.svg
Labels: feature:icon, bot:peek

#1460 Check if PR base is develop
  .github/workflows/check_icon_pr.yml
Labels: enhancement, devops

#1636 fix: remove duplicate `tauri` icon entry
  devicon.json
Labels: bug

#1633 Update README.md
  README.md
Labels: documentation

#1622 update icon: openstack (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/openstack/openstack-original-wordmark.svg
  icons/openstack/openstack-original.svg
  icons/openstack/openstack-plain-wordmark.svg
  icons/openstack/openstack-plain.svg
Labels: feature:icon, bot:peek

#1596 new icon: titaniumsdk (original)
  devicon.json
  icons/titaniumsdk/titaniumsdk-original.svg
Labels: feature:icon, bot:peek

#1641 Update readme.md
  README.md
Labels: documentation

#1604 new icon: consul (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/consul/consul-original-wordmark.svg
  icons/consul/consul-original.svg
  icons/consul/consul-plain-wordmark.svg
Labels: feature:icon, bot:peek

#1609 new icon: vault (original, original-wordmark, plain-wordmark)
  devicon.json
  icons/vault/vault-original-wordmark.svg
  icons/vault/vault-original.svg
  icons/vault/vault-plain-wordmark.svg
Labels: feature:icon, bot:peek

#1610 new icon: gazebo (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/gazebo/gazebo-original-wordmark.svg
  icons/gazebo/gazebo-original.svg
  icons/gazebo/gazebo-plain-wordmark.svg
  icons/gazebo/gazebo-plain.svg
Labels: feature:icon, bot:peek

#1625 update icon: rabbitmq (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/rabbitmq/rabbitmq-original-wordmark.svg
  icons/rabbitmq/rabbitmq-original.svg
  icons/rabbitmq/rabbitmq-plain-wordmark.svg
Labels: feature:icon, bot:peek

#1588 update icon: php (plain)
  icons/php/php-plain.svg
Labels: feature:icon, bot:peek

#1595 update icon: qt (original)
  icons/qt/qt-original.svg
Labels: feature:icon, bot:peek

#1584 update icon: mocha (original, plain)
  devicon.json
  icons/mocha/mocha-original.svg
  icons/mocha/mocha-plain.svg
Labels: feature:icon, bot:peek

#1594 update icon: redux (original)
  icons/redux/redux-original.svg
Labels: bug, feature:icon, bot:peek

#1593 update icon: twitter (original)
  devicon.json
  icons/twitter/twitter-original.svg
  icons/twitter/twitter.eps
Labels: feature:icon, bot:peek

#1592 update icon: ballerina (line, line-wordmark)
  icons/ballerina/ballerina-line-wordmark.svg
  icons/ballerina/ballerina-line.svg
Labels: feature:icon, bot:peek

#1591 update icon: tortoisegit (original, plain, line)
  devicon.json
  icons/tortoisegit/tortoisegit-line.svg
  icons/tortoisegit/tortoisegit-original.svg
  icons/tortoisegit/tortoisegit-plain.svg
Labels: feature:icon, bot:peek

#1587 update icon: ruby (plain, plain-wordmark)
  icons/ruby/ruby-plain-wordmark.svg
  icons/ruby/ruby-plain.svg
Labels: feature:icon, bot:peek

#1586 update icon: podman (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/podman/podman-original-wordmark.svg
  icons/podman/podman-original.svg
  icons/podman/podman-plain-wordmark.svg
  icons/podman/podman-plain.svg
Labels: feature:icon, bot:peek

#1557 new icon: solidjs (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/solidjs/solidjs-original-wordmark.svg
  icons/solidjs/solidjs-original.svg
  icons/solidjs/solidjs-plain-wordmark.svg
  icons/solidjs/solidjs-plain.svg
Labels: feature:icon, bot:peek

#1589 update icon: plotly (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/plotly/plotly-original-wordmark.svg
  icons/plotly/plotly-original.svg
  icons/plotly/plotly-plain-wordmark.svg
  icons/plotly/plotly-plain.svg
Labels: feature:icon, bot:peek

#1515 Improve the issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/icon_request.yml
  .github/ISSUE_TEMPLATE/other.yml
Labels: documentation

#1652 Remove unicode chars from `devicon.json`
  devicon.json
Labels: bug
