Repository devicons/devicon, pull requests merged in 2023-05, with the labels that each got.

#1627 new icon: 3dsmax (original, plain)
  devicon.json
  icons/3dsmax/3dsmax-original.svg
  icons/3dsmax/3dsmax-plain.svg
Labels: feature:icon

#1758 new icon: angularmaterial (original, plain)
  devicon.json
  icons/angularmaterial/angularmaterial-original.svg
  icons/angularmaterial/angularmaterial-plain.svg
Labels: feature:icon

#1767 Update codeql-analysis to run on .github
  .github/workflows/codeql-analysis.yml
Labels: bug, devops

#1763 new icon: grpc (original, plain)
  devicon.json
  icons/grpc/grpc-original.svg
  icons/grpc/grpc-plain.svg
Labels: feature:icon, bot:peek

#1759 new icon: oauth (original, plain)
  devicon.json
  icons/oauth/oauth-original.svg
  icons/oauth/oauth-plain.svg
Labels: feature:icon

#1762 new icon: supabase (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/supabase/supabase-original-wordmark.svg
  icons/supabase/supabase-original.svg
  icons/supabase/supabase-plain-wordmark.svg
  icons/supabase/supabase-plain.svg
Labels: feature:icon

#1765 new icon: reactrouter (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/reactrouter/reactrouter-original-wordmark.svg
  icons/reactrouter/reactrouter-original.svg
  icons/reactrouter/reactrouter-plain-wordmark.svg
  icons/reactrouter/reactrouter-plain.svg
Labels: feature:icon

#1720 new icon: vitess (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/vitess/vitess-original-wordmark.svg
  icons/vitess/vitess-original.svg
  icons/vitess/vitess-plain-wordmark.svg
  icons/vitess/vitess-plain.svg
Labels: feature:icon

#1769 new icon: mariadb (original, original-wordmark)
  devicon.json
  icons/mariadb/mariadb-original-wordmark.svg
  icons/mariadb/mariadb-original.svg
Labels: feature:icon
