Repository devicons/devicon, pull requests merged in 2024-07, with the labels that each got.

#1860 new icon: detaspace (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/detaspace/detaspace-line-wordmark.svg
  icons/detaspace/detaspace-line.svg
  icons/detaspace/detaspace-original-wordmark.svg
  icons/detaspace/detaspace-original.svg
Labels: feature:icon

#2233 update icon: web3js (original, plain)
  icons/web3js/web3js-original.svg
  icons/web3js/web3js-plain.svg
Labels: enhancement

#1889 new icon: almalinux (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/almalinux/almalinux-original-wordmark.svg
  icons/almalinux/almalinux-original.svg
  icons/almalinux/almalinux-plain-wordmark.svg
  icons/almalinux/almalinux-plain.svg
Labels: feature:icon, hacktoberfest-accepted

#2132 Delete Bower file
  bower.json
Labels: devops

#2090 update icon: npm (original, plain)
  devicon.json
  icons/npm/npm-original.svg
  icons/npm/npm-plain.svg
Labels: feature:icon
