Repository devicons/devicon, pull requests merged in 2024-05, with the labels that each got.

#1705 new icon: thymeleaf (original, plain, original-wordmark, plain-wordmark)
  devicon.json
  icons/thymeleaf/thymeleaf-original-wordmark.svg
  icons/thymeleaf/thymeleaf-original.svg
  icons/thymeleaf/thymeleaf-plain-wordmark.svg
  icons/thymeleaf/thymeleaf-plain.svg
  icons/thymeleaf/thymeleaf.eps
Labels: feature:icon, bot:peek

#2108 new icon: biome (original, original-wordmark, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/biome/biome-line-wordmark.svg
  icons/biome/biome-line.svg
  icons/biome/biome-original-wordmark.svg
  icons/biome/biome-original.svg
  icons/biome/biome-plain-wordmark.svg
Labels: feature:icon

#1921 new icon: veevalidate (original, line)
  devicon.json
  icons/veevalidate/veevalidate-line.svg
  icons/veevalidate/veevalidate-original.svg
Labels: feature:icon, hacktoberfest-accepted

#2178 New icon: kalilinux (original, original-wordmark, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/kalilinux/kalilinux-line-wordmark.svg
  icons/kalilinux/kalilinux-line.svg
  icons/kalilinux/kalilinux-original-wordmark.svg
  icons/kalilinux/kalilinux-original.svg
  icons/kalilinux/kalilinux-plain-wordmark.svg
Labels: feature:icon
