Repository devicons/devicon, pull requests merged in 2025-03, with the labels that each got.

#2128 Remove deprecated Gitpod configuration
  .gitpod.yml
Labels: devops

#1966 new icon: kaldi (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/kaldi/kaldi-line-wordmark.svg
  icons/kaldi/kaldi-line.svg
  icons/kaldi/kaldi-original-wordmark.svg
  icons/kaldi/kaldi-original.svg
  icons/kaldi/kaldi-plain-wordmark.svg
  icons/kaldi/kaldi-plain.svg
Labels: feature:icon

#2184 new icon: racket (original, plain, line)
  devicon.json
  icons/racket/racket-line.svg
  icons/racket/racket-original.svg
  icons/racket/racket-plain.svg
Labels: feature:icon

#2359 new icon: turbo (original)
  devicon.json
  icons/turbo/turbo-original-wordmark.svg
  icons/turbo/turbo-original.svg
  icons/turbo/turbo-plain-wordmark.svg
Labels: feature:icon

#2324 new icon: bazel (original, original-wordmark)
  devicon.json
  icons/bazel/bazel-original-wordmark.svg
  icons/bazel/bazel-original.svg
  icons/bazel/bazel-plain-wordmark.svg
  icons/bazel/bazel-plain.svg
Labels: feature:icon

#2220 new icon: datadog (original, original-wordmark)
  devicon.json
  icons/datadog/datadog-original-wordmark.svg
  icons/datadog/datadog-original.svg
Labels: feature:icon

#2209 new icon: dynatrace (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/dynatrace/dynatrace-line-wordmark.svg
  icons/dynatrace/dynatrace-line.svg
  icons/dynatrace/dynatrace-original-wordmark.svg
  icons/dynatrace/dynatrace-original.svg
  icons/dynatrace/dynatrace-plain-wordmark.svg
  icons/dynatrace/dynatrace-plain.svg
Labels: feature:icon

#2210 new icon: expo (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/expo/expo-line-wordmark.svg
  icons/expo/expo-line.svg
  icons/expo/expo-original-wordmark.svg
  icons/expo/expo-original.svg
Labels: feature:icon

#1973 new icon: zsh (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/zsh/zsh-line-wordmark.svg
  icons/zsh/zsh-line.svg
  icons/zsh/zsh-original-wordmark.svg
  icons/zsh/zsh-original.svg
  icons/zsh/zsh-plain-wordmark.svg
  icons/zsh/zsh-plain.svg
Labels: feature:icon

#2333 new icon: laraveljetstream (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/laraveljetstream/laraveljetstream-original-wordmark.svg
  icons/laraveljetstream/laraveljetstream-original.svg
  icons/laraveljetstream/laraveljetstream-plain-wordmark.svg
Labels: feature:icon

#2383 new icon: npss (original, plain)
  devicon.json
  icons/npss/npss-original.svg
  icons/npss/npss-plain.svg
Labels: feature:icon

#2384 new icon: ansys (original, original-wordmark, plain, plain-wordmark)
  devicon.json
  icons/ansys/ansys-original-wordmark.svg
  icons/ansys/ansys-original.svg
  icons/ansys/ansys-plain-wordmark.svg
  icons/ansys/ansys-plain.svg
Labels: feature:icon

#2338 new icon: love2d (original, plain, line)
  devicon.json
  icons/love2d/love2d-line.svg
  icons/love2d/love2d-original.svg
  icons/love2d/love2d-plain.svg
Labels: feature:icon

#2386 new icon: fusion (original, plain)
  devicon.json
  icons/fusion/fusion-original.svg
  icons/fusion/fusion-plain.svg
Labels: feature:icon

#2358 new icon: zustand (original)
  devicon.json
  icons/zustand/zustand-original.svg
  icons/zustand/zustand-plain.svg
Labels: feature:icon

#1956 New icon: Twilio (original, original-wordmark)
  devicon.json
  icons/twilio/twilio-original-wordmark.svg
  icons/twilio/twilio-original.svg
Labels: feature:icon, discussion

#1965 new icon: apollographql (original, original-wordmark, line, line-wordmark)
  devicon.json
  icons/apollographql/apollographql-line-wordmark.svg
  icons/apollographql/apollographql-line.svg
  icons/apollographql/apollographql-original-wordmark.svg
  icons/apollographql/apollographql-original.svg
Labels: feature:icon

#2388 new icon: radstudio (original, plain)
  devicon.json
  icons/radstudio/radstudio-original.svg
  icons/radstudio/radstudio-plain.svg
Labels: feature:icon

#2140 Update icon: cosmosdb (original, original-wordmark)
  devicon.json
  icons/cosmosdb/cosmosdb-original-wordmark.svg
  icons/cosmosdb/cosmosdb-original.svg
  icons/cosmosdb/cosmosdb-plain-wordmark.svg
  icons/cosmosdb/cosmosdb-plain.svg
Labels: feature:icon

#2381 new icon: hyperv (original)
  devicon.json
  icons/hyperv/hyperv-original-wordmark.svg
  icons/hyperv/hyperv-original.svg
  icons/hyperv/hyperv-plain.svg
Labels: feature:icon
