Repository devicons/devicon, pull requests merged in 2025-06, with the labels that each got.

#2379 new icon: spicedb (original, plain)
  devicon.json
  icons/spicedb/spicedb-line.svg
  icons/spicedb/spicedb-original.svg
  icons/spicedb/spicedb-plain.svg
Labels: feature:icon

#2380 new icon: harbor (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/harbor/harbor-line-wordmark.svg
  icons/harbor/harbor-line.svg
  icons/harbor/harbor-original-wordmark.svg
  icons/harbor/harbor-original.svg
  icons/harbor/harbor-plain-wordmark.svg
  icons/harbor/harbor-plain.svg
Labels: feature:icon

#2408 new icon: cpanel (orignal, original-wordmark)
  devicon.json
  icons/cpanel/cpanel-original-wordmark.svg
  icons/cpanel/cpanel-original.svg
Labels: feature:icon, bot:peek

#2418 update icon: nodejs (plain, plain-wordmark, line, line-wordmark)
  icons/nodejs/nodejs-line-wordmark.svg
  icons/nodejs/nodejs-line.svg
  icons/nodejs/nodejs-plain-wordmark.svg
  icons/nodejs/nodejs-plain.svg
Labels: feature:icon, bot:peek, bot:check

#2429 new icon: delphi (original, plain)
  devicon.json
  icons/delphi/delphi-original.svg
  icons/delphi/delphi-plain.svg
Labels: feature:icon, bot:peek

#2434 New icon: netbox (original, original-wordmark, plain, plain-wordmark, line, line-wordmark)
  devicon.json
  icons/netbox/netbox-line-wordmark.svg
  icons/netbox/netbox-line.svg
  icons/netbox/netbox-original-wordmark.svg
  icons/netbox/netbox-original.svg
  icons/netbox/netbox-plain-wordmark.svg
  icons/netbox/netbox-plain.svg
Labels: feature:icon, bot:peek

#2264 update icon: llvm (plain, line)
  devicon.json
  icons/llvm/llvm-line.svg
  icons/llvm/llvm-plain.svg
Labels: feature:icon, bot:peek, bot:check
